openapi: 3.2.0
info:
  title: Tradein Payment Agreement API
  description: TradeIn is a service built to streamline and enhance the Upgrade/TradeIn feature for the Apple program
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Payment Agreement
paths:
  /api/tradein/payment-agreement/link-payment-agreement:
    post:
      summary: Links a buyers old and new loan
      description: Links two payment agreements
      operationId: tradeinLinkPaymentAgreement
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Tradein LinkedPaymentAgreement request
              required:
              - oldPaymentAgreementID
              - newPaymentAgreementID
              - upgradeDate
              properties:
                oldPaymentAgreementID:
                  description: the existing payment agreement ID to link
                  allOf:
                  - type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                newPaymentAgreementID:
                  description: the new payment agreement ID to link
                  allOf:
                  - type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                upgradeDate:
                  description: the timestamp of the device upgrade
                  allOf:
                  - type: string
                    format: date-time
                    description: The timestamp value formatted per RFC3339. This does not allow nulls.
                    example: '2020-12-31T15:10:55Z'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
        required: true
      tags:
      - Payment Agreement
      responses:
        '200':
          description: Tradein UpgradeElection response
          content:
            application/json:
              schema:
                type: object
                description: an object representing two payment agreements to link
                required:
                - message
                properties:
                  message:
                    description: Confirmation message agreements are linked
                    allOf:
                    - type: string
        '400':
          description: Tradein UpgradeElection error response
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Tradein service error
                  properties:
                    reason:
                      type: string
                      description: Payment agreement retrieval error reason codes
                      enum:
                      - Tradein_BadRequest
                      - Tradein_InvalidIdentity
                      - Tradein_ServerError
                      example: Tradein_ServerError
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: an unsuccessful response
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Tradein service error
                  properties:
                    reason:
                      type: string
                      description: Payment agreement retrieval error reason codes
                      enum:
                      - Tradein_BadRequest
                      - Tradein_InvalidIdentity
                      - Tradein_ServerError
                      example: Tradein_ServerError
        '500':
          description: Tradein UpgradeElection error response
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Tradein service error
                  properties:
                    reason:
                      type: string
                      description: Payment agreement retrieval error reason codes
                      enum:
                      - Tradein_BadRequest
                      - Tradein_InvalidIdentity
                      - Tradein_ServerError
                      example: Tradein_ServerError
      security:
      - bearerAuthTradein:
        - w:createUpgradeableLoan
components:
  securitySchemes:
    bearerAuthTradein:
      type: http
      scheme: bearer
      bearerFormat: JWT
