openapi: 3.2.0
info:
  title: Merchant Operations Cart API
  description: Merchants Operations enables merchants to manage their transactions including authorizing purchases, settling them as well as additional actions like refund and cancellations.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Cart
paths:
  /api/cart:
    get:
      summary: List carts
      tags:
      - Cart
      description: Returns a paginated list of Cart objects matching a list of optionally-supplied filter parameters. Will automatically filter expired and deleted records. This list will be empty if no matches are found.
      operationId: getCarts
      security:
      - bearerAuthCarts:
        - r:cart
      parameters:
      - name: programID.eq
        in: query
        description: Program ID associated with a Cart.
        required: false
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: merchantID.eq
        in: query
        description: Merchant ID associated with a Cart.
        required: false
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: cartID.eq
        in: query
        description: List of CartIDs to retrieve.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: sort
        in: query
        description: The sort key.
        schema:
          description: The possible sort keys for listing Carts
          type: string
          enum:
          - createdAt.desc
          - createdAt.asc
          - expiresAt.desc
          - expiresAt.asc
          - completedAt.desc
          - completedAt.asc
          - updatedAt.desc
          - updatedAt.asc
          - merchantID.desc
          - merchantID.asc
          - programID.asc
          - programID.desc
          - orderReference.asc
          - orderReference.desc
          - email.asc
          - email.desc
          - familyName.asc
          - familyName.desc
          - givenName.asc
          - givenName.desc
      - in: query
        name: limit
        description: The maximum number of records that will be returned in a result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 10
        example: 50
      - in: query
        name: offset
        description: The number of records to skip before starting to collect the result set. Used in conjunction with limit query parameter for pagination support
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 20
      - in: query
        name: showArchived
        description: Indicates that any archived records if available will be returned as part of the results
        required: false
        allowEmptyValue: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returns an array of Carts along with PageInfo
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      description: Cart object for list
                      properties:
                        id:
                          type: string
                          format: string
                          description: CartID associated with a Cart
                          example: 965316f5-e7a7-41d1-b89f-db8463caf471
                        expiresAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        createdAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        updatedAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        merchantID:
                          type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        programID:
                          type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        status:
                          type: string
                          description: The current status of the Cart. Generated when returning a Cart object.
                          enum:
                          - ACTIVE
                          - NOTIFIED
                          - VISITED
                          - EXPIRED
                          - DELETED
                          - COMPLETED
                        orderReference:
                          type: string
                          format: string
                          description: Unique identifier provided by the merchant. Appended to the CheckoutCompleteURL after a Cart is complete.
                          example: VAW13I3LO
                        contact:
                          type: object
                          required:
                          - name
                          properties:
                            name:
                              required:
                              - familyName
                              - givenName
                              type: object
                              properties:
                                givenName:
                                  type: string
                                  description: Given name
                                  example: John
                                familyName:
                                  type: string
                                  description: Family name
                                  example: Doe
                                additionalName:
                                  type: string
                                  description: Additional name, if any
                              description: Represents the full name
                            phone:
                              type: string
                              description: Telephone number including country code
                              example: '+14539842345'
                            address:
                              required:
                              - address1
                              - locality
                              - postalCode
                              - region
                              - country
                              type: object
                              properties:
                                address1:
                                  type: string
                                  description: First address line
                                  example: 156 5th Avenue
                                address2:
                                  type: string
                                  description: Second address line
                                locality:
                                  type: string
                                  description: The locality (e.g. City) of the address.
                                  example: New York
                                postalCode:
                                  type: string
                                  description: The administrative postal code (e.g. Zip Code)
                                  example: '10019'
                                region:
                                  type: string
                                  description: The region or first-level administration division (e.g. State/Province) of the address.
                                  example: US-NY
                                  minLength: 2
                                  externalDocs:
                                    description: ISO-3166-2
                                    url: https://en.wikipedia.org/wiki/ISO_3166-2
                                country:
                                  type: string
                                  description: The two character ISO-3166-1 country code.
                                  example: US
                                  minLength: 2
                                  maxLength: 2
                                  externalDocs:
                                    description: ISO-3166-1
                                    url: https://en.wikipedia.org/wiki/ISO_3166-1
                              description: Represents a fully defined address for an entity
                            email:
                              type: string
                              format: email
                              description: Email address
                              example: john.doe@gmail.com
                          description: Represents contact information for an entity
                        checkoutUrl:
                          type: string
                          format: uri
                          description: URL to Checkout using the associated Cart
                          example: https://checkout.breadfinancial.com/cart/965316f5-e7a7-41d1-b89f-db8463caf471
                  pagination:
                    description: Describes the limit, offset and total records in the current request
                    properties:
                      limit:
                        type: string
                        format: string
                        description: The maximum number of records that will be returned in a result set.
                        example: '20'
                      offset:
                        type: string
                        format: string
                        description: The number of records to skip before starting to collect the result set. Used in conjunction with limit query parameter for pagination support
                        example: '60'
                      total:
                        type: string
                        format: string
                        description: The total number of records in the result set
                        example: '300'
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '404':
          description: Indicates that the Cart cannot be found
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 500
                domain: Cart
                message: Internal Server Error
                reason: Internal_Server_Failure
    post:
      tags:
      - Cart
      summary: Create a Cart
      description: Create a Cart using a JSON body. Returns a response that includes the URL to checkout, the time at which the Cart was created, and the expiration time. Carts will automatically expire after a default time of 7 days and will be deleted automatically after a default time of 30 days.
      operationId: createCart
      security:
      - bearerAuthCarts:
        - w:cart
      requestBody:
        description: Payload that is sent to the Cart service to create a Cart
        required: true
        content:
          application/json:
            schema:
              description: Payload that is sent to the Cart service to create a Cart
              required:
              - merchantID
              - programID
              - disclosures
              properties:
                callbackUrl:
                  type: string
                  format: uri
                  description: Where we'll POST the transactionID of the checkout and the orderRef following a successful checkout.
                  example: https://www.breadfinancial.com/
                checkoutCompleteUrl:
                  type: string
                  format: uri
                  description: URL that the customer is redirected to following a successful checkout
                  example: https://merchant.com/checkout-complete
                checkoutErrorUrl:
                  type: string
                  format: uri
                  description: URL the user is redirected to if checkout fails
                  example: https://www.breadfinancial.com/error/
                isHipaaRestricted:
                  type: boolean
                orderReference:
                  type: string
                  format: string
                  description: Unique identifier provided by the merchant. Appended to the CheckoutCompleteURL after a Cart is complete.
                  example: VAW13I3LO
                expiresAt:
                  type: string
                  format: date-time
                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                  example: '2020-12-31T15:10:55Z'
                  externalDocs:
                    description: RFC3339
                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                updatedAt:
                  type: string
                  format: date-time
                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                  example: '2020-12-31T15:10:55Z'
                  externalDocs:
                    description: RFC3339
                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                createdAt:
                  type: string
                  format: date-time
                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                  example: '2020-12-31T15:10:55Z'
                  externalDocs:
                    description: RFC3339
                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                merchantID:
                  type: string
                  format: uuid
                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                  externalDocs:
                    description: RFC4122
                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                programID:
                  type: string
                  format: uuid
                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                  externalDocs:
                    description: RFC4122
                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                contact:
                  type: object
                  required:
                  - name
                  - email
                  - phone
                  - shippingAddress
                  properties:
                    name:
                      required:
                      - familyName
                      - givenName
                      type: object
                      properties:
                        givenName:
                          type: string
                          description: Given name
                          example: John
                        familyName:
                          type: string
                          description: Family name
                          example: Doe
                        additionalName:
                          type: string
                          description: Additional name, if any
                      description: Represents the full name
                    phone:
                      type: string
                      description: Telephone number including country code
                      example: '+14539842345'
                    shippingAddress:
                      required:
                      - address1
                      - locality
                      - postalCode
                      - region
                      - country
                      type: object
                      properties:
                        address1:
                          type: string
                          description: First address line
                          example: 156 5th Avenue
                        address2:
                          type: string
                          description: Second address line
                        locality:
                          type: string
                          description: The locality (e.g. City) of the address.
                          example: New York
                        postalCode:
                          type: string
                          description: The administrative postal code (e.g. Zip Code)
                          example: '10019'
                        region:
                          type: string
                          description: The region or first-level administration division (e.g. State/Province) of the address.
                          example: US-NY
                          minLength: 2
                          externalDocs:
                            description: ISO-3166-2
                            url: https://en.wikipedia.org/wiki/ISO_3166-2
                        country:
                          type: string
                          description: The two character ISO-3166-1 country code.
                          example: US
                          minLength: 2
                          maxLength: 2
                          externalDocs:
                            description: ISO-3166-1
                            url: https://en.wikipedia.org/wiki/ISO_3166-1
                      description: Represents a fully defined address for an entity
                    billingAddress:
                      required:
                      - address1
                      - locality
                      - postalCode
                      - region
                      - country
                      type: object
                      properties:
                        address1:
                          type: string
                          description: First address line
                          example: 156 5th Avenue
                        address2:
                          type: string
                          description: Second address line
                        locality:
                          type: string
                          description: The locality (e.g. City) of the address.
                          example: New York
                        postalCode:
                          type: string
                          description: The administrative postal code (e.g. Zip Code)
                          example: '10019'
                        region:
                          type: string
                          description: The region or first-level administration division (e.g. State/Province) of the address.
                          example: US-NY
                          minLength: 2
                          externalDocs:
                            description: ISO-3166-2
                            url: https://en.wikipedia.org/wiki/ISO_3166-2
                        country:
                          type: string
                          description: The two character ISO-3166-1 country code.
                          example: US
                          minLength: 2
                          maxLength: 2
                          externalDocs:
                            description: ISO-3166-1
                            url: https://en.wikipedia.org/wiki/ISO_3166-1
                      description: Represents a fully defined address for an entity
                    email:
                      type: string
                      format: email
                      description: Email address
                      example: john.doe@gmail.com
                  description: Represents buyer information that is associated with the Cart object
                order:
                  type: object
                  title: Order
                  description: The collection of items that the Buyer wants to purchase with a Bread product.
                  required:
                  - subTotal
                  - totalDiscounts
                  - totalPrice
                  - totalShipping
                  - totalTax
                  properties:
                    subTotal:
                      description: The total price of items excluding tax. The value must be greater than or equal to 0. If there are items, subTotal must equal the sum of all items'' unitPrice values accounting for quantities.
                      allOf:
                      - required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                            description: The three letter currency code as defined in ISO 4217.
                            example: USD
                            minLength: 3
                            maxLength: 3
                            externalDocs:
                              description: ISO 4217
                              url: https://en.wikipedia.org/wiki/ISO_4217
                          value:
                            type: integer
                            description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                            format: int64
                            example: 100
                        description: Represents a monetary amount in the specified currency
                        example:
                          currency: USD
                          value: 50000
                    totalDiscounts:
                      description: The total price of discounts applied to this Order. The value must be greater than or equal to 0.
                      allOf:
                      - required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                            description: The three letter currency code as defined in ISO 4217.
                            example: USD
                            minLength: 3
                            maxLength: 3
                            externalDocs:
                              description: ISO 4217
                              url: https://en.wikipedia.org/wiki/ISO_4217
                          value:
                            type: integer
                            description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                            format: int64
                            example: 100
                        description: Represents a monetary amount in the specified currency
                        example:
                          currency: USD
                          value: 50000
                    totalPrice:
                      description: The total price of the Order. The value must be greater than 0 and equal to the sum of subTotal, totalShipping and totalTax minus the totalDiscounts.
                      allOf:
                      - required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                            description: The three letter currency code as defined in ISO 4217.
                            example: USD
                            minLength: 3
                            maxLength: 3
                            externalDocs:
                              description: ISO 4217
                              url: https://en.wikipedia.org/wiki/ISO_4217
                          value:
                            type: integer
                            description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                            format: int64
                            example: 100
                        description: Represents a monetary amount in the specified currency
                        example:
                          currency: USD
                          value: 50000
                    totalShipping:
                      description: The total shipping costs for this Order. The value must be greater than or equal to 0.
                      allOf:
                      - required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                            description: The three letter currency code as defined in ISO 4217.
                            example: USD
                            minLength: 3
                            maxLength: 3
                            externalDocs:
                              description: ISO 4217
                              url: https://en.wikipedia.org/wiki/ISO_4217
                          value:
                            type: integer
                            description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                            format: int64
                            example: 100
                        description: Represents a monetary amount in the specified currency
                        example:
                          currency: USD
                          value: 50000
                    totalTax:
                      description: The total amount of tax applied to this Order. The value must be greater than or equal to 0. If there are items, totalTax must equal the sum of all items'' unitTax values accounting for quantities.
                      allOf:
                      - required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                            description: The three letter currency code as defined in ISO 4217.
                            example: USD
                            minLength: 3
                            maxLength: 3
                            externalDocs:
                              description: ISO 4217
                              url: https://en.wikipedia.org/wiki/ISO_4217
                          value:
                            type: integer
                            description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                            format: int64
                            example: 100
                        description: Represents a monetary amount in the specified currency
                        example:
                          currency: USD
                          value: 50000
                    discountCode:
                      type: string
                      description: Discount code applied to this Order.
                    pickupInformation:
                      description: Pickup information describes a person and store location for pickup.
                      type: object
                      required:
                      - name
                      - address
                      properties:
                        name:
                          required:
                          - familyName
                          - givenName
                          type: object
                          properties:
                            givenName:
                              type: string
                              description: Given name
                              example: John
                            familyName:
                              type: string
                              description: Family name
                              example: Doe
                            additionalName:
                              type: string
                              description: Additional name, if any
                          description: Represents the full name
                        phone:
                          type: string
                          description: Telephone number including country code
                          example: '+14539842345'
                        address:
                          required:
                          - address1
                          - locality
                          - postalCode
                          - region
                          - country
                          type: object
                          properties:
                            address1:
                              type: string
                              description: First address line
                              example: 156 5th Avenue
                            address2:
                              type: string
                              description: Second address line
                            locality:
                              type: string
                              description: The locality (e.g. City) of the address.
                              example: New York
                            postalCode:
                              type: string
                              description: The administrative postal code (e.g. Zip Code)
                              example: '10019'
                            region:
                              type: string
                              description: The region or first-level administration division (e.g. State/Province) of the address.
                              example: US-NY
                              minLength: 2
                              externalDocs:
                                description: ISO-3166-2
                                url: https://en.wikipedia.org/wiki/ISO_3166-2
                            country:
                              type: string
                              description: The two character ISO-3166-1 country code.
                              example: US
                              minLength: 2
                              maxLength: 2
                              externalDocs:
                                description: ISO-3166-1
                                url: https://en.wikipedia.org/wiki/ISO_3166-1
                          description: Represents a fully defined address for an entity
                        email:
                          type: string
                          format: email
                          description: Email address
                          example: john.doe@gmail.com
                    fulfillmentType:
                      type: string
                      enum:
                      - ''
                      - PICKUP
                      - DELIVERY
                      - MULTIPLE
                      description: The fulfillment type of the order.
                    items:
                      type: array
                      description: The list of items to be purchased in this Order.
                      items:
                        type: object
                        title: Order Item
                        description: An item that the Buyer wants to purchase with a Bread product.
                        required:
                        - name
                        - quantity
                        - unitPrice
                        - unitTax
                        - shippingCost
                        properties:
                          name:
                            type: string
                            description: The name of the item to be purchased.
                            example: Noise Cancelling Headphones Q30
                          category:
                            type: string
                            description: The category of the product under which the item is listed.
                            example: Headphones
                          quantity:
                            type: integer
                            description: The number of items to be purchased. The value must be greater than 0.
                            example: 2
                          unitPrice:
                            description: The price per unit of item. The value must be greater than or equal to 0.
                            allOf:
                            - required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                          unitTax:
                            description: The tax per unit of item. The value must be greater than or equal to 0.
                            allOf:
                            - required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                          sku:
                            type: string
                            description: The unique SKU number of the item.
                          itemUrl:
                            type: string
                            description: The URL for referencing further details about the item.
                          imageUrl:
                            type: string
                            description: The URL for the item image.
                          description:
                            type: string
                            description: A longer description of the item.
                          shippingCost:
                            description: The cost of shipping all units of this item. The value must be greater than or equal to 0.
                            allOf:
                            - required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                          shippingProvider:
                            type: string
                            description: The provider that will be used to ship the item.
                          shippingDescription:
                            type: string
                            description: The description of the shipping method (e.g. standard, express).
                          shippingTrackingNumber:
                            type: string
                            description: The tracking number that is provided by a shipping provider.
                          shippingTrackingUrl:
                            type: string
                            description: The URL for referencing further details about the shipping.
                          fulfillmentType:
                            type: string
                            enum:
                            - ''
                            - PICKUP
                            - DELIVERY
                            description: The fulfillment type of the order item.
                disclosures:
                  type: array
                  items:
                    description: Disclosure object
                    properties:
                      name:
                        description: A symbol identifying a disclosure document type
                        type: string
                        example: one-time
                      acceptedAt:
                        type: string
                        format: date-time
                        description: The timestamp value formatted per RFC3339. This does not allow nulls.
                        example: '2020-12-31T15:10:55Z'
                        externalDocs:
                          description: RFC3339
                          url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      responses:
        '201':
          description: Returns a Cart object
          content:
            application/json:
              schema:
                description: Cart object
                properties:
                  id:
                    type: string
                    format: string
                    description: CartID associated with a Cart
                    example: 965316f5-e7a7-41d1-b89f-db8463caf471
                  checkoutCompleteUrl:
                    type: string
                    format: uri
                    description: URL that the customer is redirected to following a successful checkout
                    example: https://merchant.com/checkout-complete
                  callbackUrl:
                    type: string
                    format: uri
                    description: Where we'll POST the transactionID of the checkout and the orderRef following a successful checkout.
                    example: https://www.breadfinancial.com/
                  checkoutErrorUrl:
                    type: string
                    format: uri
                    description: URL the user is redirected to if checkout fails
                    example: https://www.breadfinancial.com/error/
                  checkoutUrl:
                    type: string
                    format: uri
                    description: URL to Checkout using the associated Cart
                    example: https://checkout.breadfinancial.com/cart/965316f5-e7a7-41d1-b89f-db8463caf471
                  expiresAt:
                    type: string
                    format: date-time
                    description: The timestamp value formatted per RFC3339. This does not allow nulls.
                    example: '2020-12-31T15:10:55Z'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  merchantID:
                    type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  programID:
                    type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  status:
                    type: string
                    description: The current status of the Cart. Generated when returning a Cart object.
                    enum:
                    - ACTIVE
                    - NOTIFIED
                    - VISITED
                    - EXPIRED
                    - DELETED
                    - COMPLETED
                  orderReference:
                    type: string
                    format: string
                    description: Unique identifier provided by the merchant. Appended to the CheckoutCompleteURL after a Cart is complete.
                    example: VAW13I3LO
                  contact:
                    type: object
                    required:
                    - name
                    - email
                    - phone
                    - shippingAddress
                    properties:
                      name:
                        required:
                        - familyName
                        - givenName
                        type: object
                        properties:
                          givenName:
                            type: string
                            description: Given name
                            example: John
                          familyName:
                            type: string
                            description: Family name
                            example: Doe
                          additionalName:
                            type: string
                            description: Additional name, if any
                        description: Represents the full name
                      phone:
                        type: string
                        description: Telephone number including country code
                        example: '+14539842345'
                      shippingAddress:
                        required:
                        - address1
                        - locality
                        - postalCode
                        - region
                        - country
                        type: object
                        properties:
                          address1:
                            type: string
                            description: First address line
                            example: 156 5th Avenue
                          address2:
                            type: string
                            description: Second address line
                          locality:
                            type: string
                            description: The locality (e.g. City) of the address.
                            example: New York
                          postalCode:
                            type: string
                            description: The administrative postal code (e.g. Zip Code)
                            example: '10019'
                          region:
                            type: string
                            description: The region or first-level administration division (e.g. State/Province) of the address.
                            example: US-NY
                            minLength: 2
                            externalDocs:
                              description: ISO-3166-2
                              url: https://en.wikipedia.org/wiki/ISO_3166-2
                          country:
                            type: string
                            description: The two character ISO-3166-1 country code.
                            example: US
                            minLength: 2
                            maxLength: 2
                            externalDocs:
                              description: ISO-3166-1
                              url: https://en.wikipedia.org/wiki/ISO_3166-1
                        description: Represents a fully defined address for an entity
                      billingAddress:
                        required:
                        - address1
                        - locality
                        - postalCode
                        - region
                        - country
                        type: object
                        properties:
                          address1:
                            type: string
                            description: First address line
                            example: 156 5th Avenue
                          address2:
                            type: string
                            description: Second address line
                          locality:
                            type: string
                            description: The locality (e.g. City) of the address.
                            example: New York
                          postalCode:
                            type: string
                            description: The administrative postal code (e.g. Zip Code)
                            example: '10019'
                          region:
                            type: string
                            description: The region or first-level administration division (e.g. State/Province) of the address.
                            example: US-NY
                            minLength: 2
                            externalDocs:
                              description: ISO-3166-2
                              url: https://en.wikipedia.org/wiki/ISO_3166-2
                          country:
                            type: string
                            description: The two character ISO-3166-1 country code.
                            example: US
                            minLength: 2
                            maxLength: 2
                            externalDocs:
                              description: ISO-3166-1
                              url: https://en.wikipedia.org/wiki/ISO_3166-1
                        description: Represents a fully defined address for an entity
                      email:
                        type: string
                        format: email
                        description: Email address
                        example: john.doe@gmail.com
                    description: Represents buyer information that is associated with the Cart object
                  order:
                    type: object
                    title: Order
                    description: The collection of items that the Buyer wants to purchase with a Bread product.
                    required:
                    - subTotal
                    - totalDiscounts
                    - totalPrice
                    - totalShipping
                    - totalTax
                    properties:
                      subTotal:
                        description: The total price of items excluding tax. The value must be greater than or equal to 0. If there are items, subTotal must equal the sum of all items'' unitPrice values accounting for quantities.
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                      totalDiscounts:
                        description: The total price of discounts applied to this Order. The value must be greater than or equal to 0.
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                      totalPrice:
                        description: The total price of the Order. The value must be greater than 0 and equal to the sum of subTotal, totalShipping and totalTax minus the totalDiscounts.
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                      totalShipping:
                        description: The total shipping costs for this Order. The value must be greater than or equal to 0.
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                      totalTax:
                        description: The total amount of tax applied to this Order. The value must be greater than or equal to 0. If there are items, totalTax must equal the sum of all items'' unitTax values accounting for quantities.
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                      discountCode:
                        type: string
                        description: Discount code applied to this Order.
                      pickupInformation:
                        description: Pickup information describes a person and store location for pickup.
                        type: object
                        required:
                        - name
                        - address
                        properties:
                          name:
                            required:
                            - familyName
                            - givenName
                            type: object
                            properties:
                              givenName:
                                type: string
                                description: Given name
                                example: John
                              familyName:
                                type: string
                                description: Family name
                                example: Doe
                              additionalName:
                                type: string
                                description: Additional name, if any
                            description: Represents the full name
                          phone:
                            type: string
                            description: Telephone number including country code
                            example: '+14539842345'
                          address:
                            required:
                            - address1
                            - locality
                            - postalCode
                            - region
                            - country
                            type: object
                            properties:
                              address1:
                                type: string
                                description: First address line
                                example: 156 5th Avenue
                              address2:
                                type: string
                                description: Second address line
                              locality:
                                type: string
                                description: The locality (e.g. City) of the address.
                                example: New York
                              postalCode:
                                type: string
                                description: The administrative postal code (e.g. Zip Code)
                                example: '10019'
                              region:
                                type: string
                                description: The region or first-level administration division (e.g. State/Province) of the address.
                                example: US-NY
                                minLength: 2
                                externalDocs:
                                  description: ISO-3166-2
                                  url: https://en.wikipedia.org/wiki/ISO_3166-2
                              country:
                                type: string
                                description: The two character ISO-3166-1 country code.
                                example: US
                                minLength: 2
                                maxLength: 2
                                externalDocs:
                                  description: ISO-3166-1
                                  url: https://en.wikipedia.org/wiki/ISO_3166-1
                            description: Represents a fully defined address for an entity
                          email:
                            type: string
                            format: email
                            description: Email address
                            example: john.doe@gmail.com
                      fulfillmentType:
                        type: string
                        enum:
                        - ''
                        - PICKUP
                        - DELIVERY
                        - MULTIPLE
                        description: The fulfillment type of the order.
                      items:
                        type: array
                        description: The list of items to be purchased in this Order.
                        items:
                          type: object
                          title: Order Item
                          description: An item that the Buyer wants to purchase with a Bread product.
                          required:
                          - name
                          - quantity
                          - unitPrice
                          - unitTax
                          - shippingCost
                          properties:
                            name:
                              type: string
                              description: The name of the item to be purchased.
                              example: Noise Cancelling Headphones Q30
                            category:
                              type: string
                              description: The category of the product under which the item is listed.
                              example: Headphones
                            quantity:
                              type: integer
                              description: The number of items to be purchased. The value must be greater than 0.
                              example: 2
                            unitPrice:
                              description: The price per unit of item. The value must be greater than or equal to 0.
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                            unitTax:
                              description: The tax per unit of item. The value must be greater than or equal to 0.
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                            sku:
                              type: string
                              description: The unique SKU number of the item.
                            itemUrl:
                              type: string
                              description: The URL for referencing further details about the item.
                            imageUrl:
                              type: string
                              description: The URL for the item image.
                            description:
                              type: string
                              description: A longer description of the item.
                            shippingCost:
                              description: The cost of shipping all units of this item. The value must be greater than or equal to 0.
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                            shippingProvider:
                              type: string
                              description: The provider that will be used to ship the item.
                            shippingDescription:
                              type: string
                              description: The description of the shipping method (e.g. standard, express).
                            shippingTrackingNumber:
                              type: string
                              description: The tracking number that is provided by a shipping provider.
                            shippingTrackingUrl:
                              type: string
                              description: The URL for referencing further details about the shipping.
                            fulfillmentType:
                              type: string
                              enum:
                              - ''
                              - PICKUP
                              - DELIVERY
                              description: The fulfillment type of the order item.
                  disclosures:
                    type: array
                    items:
                      description: Disclosure object
                      properties:
                        name:
                          description: A symbol identifying a disclosure document type
                          type: string
                          example: one-time
                        acceptedAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  asLowAs:
                    type: object
                    required:
                    - terms
                    - paymentAmount
                    - minRate
                    - maxRate
                    - promptText
                    - paymentAmountText
                    properties:
                      terms:
                        allOf:
                        - type: object
                          required:
                          - amount
                          - interval
                          - length
                          - rate
                          properties:
                            amount:
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                              description: The total amount for the term
                            interval:
                              allOf:
                              - type: string
                                description: Defines set of valid term intervals for a payment product
                                enum:
                                - BIWEEKLY
                                - MONTHLY
                              description: The payment interval for the term
                            length:
                              type: integer
                              format: int64
                              description: Length of the term
                              example: 12
                            rate:
                              type: number
                              format: float
                              description: The interest rate for the term
                              example: 5.75
                          description: Represents the terms offered for a payment product
                        description: The terms used to determine the payment
                      paymentAmount:
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                        description: The cost of each payment based on the terms
                      minRate:
                        type: number
                        format: float
                        description: The minimum interest rate that may be offered
                        example: 2.99
                      maxRate:
                        type: number
                        format: float
                        description: The maximum interest rate that may be offered
                        example: 29.99
                      promptText:
                        type: object
                        additionalProperties:
                          type: string
                        description: The financing disclosure text that can be provided to the buyer in the appropriate language
                        example:
                          en-us: A sample prompt text in the appropriate locale
                          ca-fr: Un exemple de texte en français canadien
                      paymentAmountText:
                        type: object
                        additionalProperties:
                          type: string
                        description: The payment amount with the appropriate formatting
                        example:
                          en-us: $150.25
                          ca-fr: 150.25 $
                    description: Represents a sample offer with the appropriate user prompts for a given amount and apr along with apr bounds
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Default error response for any errors in the API
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
  /api/cart/{id}:
    get:
      tags:
      - Cart
      description: Returns the stored Cart information associated with a Cart ID. Will return the Cart information even if the Cart is expired
      summary: Get Cart
      operationId: getCartByID
      security:
      - bearerAuthCarts:
        - r:cart
      parameters:
      - name: id
        in: path
        description: Unique Cart ID that is associated with a Cart.
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      responses:
        '200':
          description: Returns a Cart object
          content:
            application/json:
              schema:
                description: Cart object
                properties:
                  id:
                    type: string
                    format: string
                    description: CartID associated with a Cart
                    example: 965316f5-e7a7-41d1-b89f-db8463caf471
                  checkoutCompleteUrl:
                    type: string
                    format: uri
                    description: URL that the customer is redirected to following a successful checkout
                    example: https://merchant.com/checkout-complete
                  callbackUrl:
                    type: string
                    format: uri
                    description: Where we'll POST the transactionID of the checkout and the orderRef following a successful checkout.
                    example: https://www.breadfinancial.com/
                  checkoutErrorUrl:
                    type: string
                    format: uri
                    description: URL the user is redirected to if checkout fails
                    example: https://www.breadfinancial.com/error/
                  checkoutUrl:
                    type: string
                    format: uri
                    description: URL to Checkout using the associated Cart
                    example: https://checkout.breadfinancial.com/cart/965316f5-e7a7-41d1-b89f-db8463caf471
                  expiresAt:
                    type: string
                    format: date-time
                    description: The timestamp value formatted per RFC3339. This does not allow nulls.
                    example: '2020-12-31T15:10:55Z'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  merchantID:
                    type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  programID:
                    type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  status:
                    type: string
                    description: The current status of the Cart. Generated when returning a Cart object.
                    enum:
                    - ACTIVE
                    - NOTIFIED
                    - VISITED
                    - EXPIRED
                    - DELETED
                    - COMPLETED
                  orderReference:
                    type: string
                    format: string
                    description: Unique identifier provided by the merchant. Appended to the CheckoutCompleteURL after a Cart is complete.
                    example: VAW13I3LO
                  contact:
                    type: object
                    required:
                    - name
                    - email
                    - phone
                    - shippingAddress
                    properties:
                      name:
                        required:
                        - familyName
                        - givenName
                        type: object
                        properties:
                          givenName:
                            type: string
                            description: Given name
                            example: John
                          familyName:
                            type: string
                            description: Family name
                            example: Doe
                          additionalName:
                            type: string
                            description: Additional name, if any
                        description: Represents the full name
                      phone:
                        type: string
                        description: Telephone number including country code
                        example: '+14539842345'
                      shippingAddress:
                        required:
                        - address1
                        - locality
                        - postalCode
                        - region
                        - country
                        type: object
                        properties:
                          address1:
                            type: string
                            description: First address line
                            example: 156 5th Avenue
                          address2:
                            type: string
                            description: Second address line
                          locality:
                            type: string
                            description: The locality (e.g. City) of the address.
                            example: New York
                          postalCode:
                            type: string
                            description: The administrative postal code (e.g. Zip Code)
                            example: '10019'
                          region:
                            type: string
                            description: The region or first-level administration division (e.g. State/Province) of the address.
                            example: US-NY
                            minLength: 2
                            externalDocs:
                              description: ISO-3166-2
                              url: https://en.wikipedia.org/wiki/ISO_3166-2
                          country:
                            type: string
                            description: The two character ISO-3166-1 country code.
                            example: US
                            minLength: 2
                            maxLength: 2
                            externalDocs:
                              description: ISO-3166-1
                              url: https://en.wikipedia.org/wiki/ISO_3166-1
                        description: Represents a fully defined address for an entity
                      billingAddress:
                        required:
                        - address1
                        - locality
                        - postalCode
                        - region
                        - country
                        type: object
                        properties:
                          address1:
                            type: string
                            description: First address line
                            example: 156 5th Avenue
                          address2:
                            type: string
                            description: Second address line
                          locality:
                            type: string
                            description: The locality (e.g. City) of the address.
                            example: New York
                          postalCode:
                            type: string
                            description: The administrative postal code (e.g. Zip Code)
                            example: '10019'
                          region:
                            type: string
                            description: The region or first-level administration division (e.g. State/Province) of the address.
                            example: US-NY
                            minLength: 2
                            externalDocs:
                              description: ISO-3166-2
                              url: https://en.wikipedia.org/wiki/ISO_3166-2
                          country:
                            type: string
                            description: The two character ISO-3166-1 country code.
                            example: US
                            minLength: 2
[...]
