openapi: 3.2.0
info:
  title: Payments Payment Methods API
  description: Payments provides support for managing payment methods as well as retrieving payment execution and audit details.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Payment Methods
paths:
  /api/payments/payment-method:
    post:
      summary: Create Payment Method
      description: Creates and returns a new payment method. 200 if payment method already exists. 201 if newly created. Check payment and trade in credit creation requires a specific authorization scope.
      operationId: createPaymentMethod
      responses:
        '200':
          description: A successful response that returns a payment method model.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a created payment method.
                properties:
                  paymentMethod:
                    type: object
                    description: An object that represents a payment method model.  Only one of the sub models, BankAccount and CardAccount, will exist and will be identified by paymentMethodType.
                    required:
                    - id
                    - createdAt
                    - name
                    - paymentMethodType
                    - updatedAt
                    properties:
                      id:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique payment method identifier.
                      scopeID:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
                      name:
                        type: string
                        description: A descriptive name to identify the payment method.
                        example: John Doe Bank Account
                      paymentMethodType:
                        type: string
                        enum:
                        - UNKNOWN_PAYMENT_METHOD_TYPE
                        - BANK_ACCOUNT
                        - CARD_ACCOUNT
                        - BANK_ACCOUNT_AUTHENTICATED
                        - CHECK_PAYMENT
                        - MANUAL_PAYMENT
                        - EXTERNAL_COLLECTION
                        - TRADE_IN_CREDIT
                        - PAPER_CHECK
                        default: UNKNOWN_PAYMENT_METHOD_TYPE
                        description: A high level category of the form of payments.
                        example: BANK_ACCOUNT_AUTHENTICATED
                      scopeType:
                        type: string
                        enum:
                        - UNKNOWN_SCOPE_TYPE
                        - BUYER
                        - MERCHANT
                        - PROGRAM_AGREEMENT
                        - PARTNER
                        default: UNKNOWN_SCOPE_TYPE
                        description: Identifies the owner of the payment method.
                        example: BUYER
                      createdAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp that this payment method was created at.
                      deletedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp this payment method was deleted at.
                      updatedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp this payment method was last updated at.
                      isDeletable:
                        type: boolean
                        description: A flag indicating if a payment method can be deleted.
                        example: true
                      bankAccount:
                        type: object
                        description: Details about a bank account payment method.
                        required:
                        - id
                        - bankName
                        - createdAt
                        - accountNumber
                        - accountType
                        - routingNumber
                        - updatedAt
                        - changeReceived
                        - achBlocked
                        - returnCode
                        - returnDescription
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique bank account identifier.
                          bankName:
                            type: string
                            description: Identifies the institution that the account belongs to.
                            example: Bread National Bank
                          accountType:
                            type: string
                            enum:
                            - UNKNOWN_ACCOUNT_TYPE
                            - CHECKING
                            - SAVINGS
                            description: Identifies the type of the account.
                            example: CHECKING
                          setupType:
                            type: string
                            enum:
                            - UNKNOWN_SETUP_TYPE
                            - ACH
                            - EFT
                            default: UNKNOWN_SETUP_TYPE
                            description: Identifies the way funds are transferred.
                            example: ACH
                          accountNumber:
                            type: string
                            description: The number assigned to the account by the institution.
                          routingNumber:
                            type: string
                            description: The institution's identifying number.
                          country:
                            allOf:
                            - type: string
                              description: The two character ISO-3166-1 country code.
                              example: US
                              minLength: 2
                              maxLength: 2
                              externalDocs:
                                description: ISO-3166-1
                                url: https://en.wikipedia.org/wiki/ISO_3166-1
                            description: The country code for this bank account's location.
                          currency:
                            allOf:
                            - type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            description: The type of currency used with this bank account.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this bank account payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this bank account payment method was last updated.
                          connection:
                            type: object
                            description: Details about a connection to a third party for this bank account.
                            properties:
                              id:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique bank connection identifier.
                              externalAccountID:
                                type: string
                                description: This is the identification number for a payment method within a customer account provided by a third party authorization program.
                              connectionID:
                                type: string
                                description: This is a one-time identification number provided to lookup a newly created customer account in a third party authorization program.
                              token:
                                type: string
                                description: This is a token that is used to connect to a third party authorization program.
                              organizationID:
                                type: string
                                description: This is the organization number the account is assigned to by a third party authorization program.
                              externalOrganizationID:
                                type: string
                                description: This is the organization number the account is assigned to by a third party authorization program.
                              accountHolderName:
                                type: string
                                description: This is the name of a bank account holder.
                                example: John Doe
                              connectionStatus:
                                type: string
                                enum:
                                - UNKNOWN_CONNECTION_STATUS
                                - VERIFIED
                                - UNVERIFIED
                                - FAILED
                                default: UNKNOWN_CONNECTION_STATUS
                                description: This is the status of a connection to a bank account from a third party authorization program.
                                example: VERIFIED
                              provider:
                                type: string
                                enum:
                                - UNKNOWN_PROVIDER
                                - MANUAL
                                - FLINKS
                                default: UNKNOWN_PROVIDER
                                description: This is the third party authorization program used to authorize the bank account.
                                example: FLINKS
                              createdAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party bank connection was created.
                              updatedAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party bank connection was last updated.
                          changeReceived:
                            type: boolean
                            description: The Flag to indicate this payment method has related NOC.
                          achBlocked:
                            type: boolean
                            description: The Flag to indicate this payment method has been blocked.
                          returnCode:
                            type: string
                            description: The return code associated with account being blocked.
                          returnDescription:
                            type: string
                            description: The description associated with the return code for blocked account.
                      cardAccount:
                        type: object
                        description: Details about a card account payment method.
                        required:
                        - id
                        - cardName
                        - last4
                        - expirationYear
                        - expirationMonth
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique card account identifier.
                          cardType:
                            type: string
                            enum:
                            - UNKNOWN_CARD_TYPE
                            - CREDIT
                            - DEBIT
                            default: UNKNOWN_CARD_TYPE
                            description: The type of card that is being used.
                            example: DEBIT
                          cardName:
                            type: string
                            description: The name of the card processor.
                            example: VISA
                          last4:
                            type: string
                            description: The last 4 digits of the card number
                            example: '1234'
                          expirationMonth:
                            type: string
                            description: The two digit month that the card expires in.
                            example: '10'
                          expirationYear:
                            type: string
                            description: The four digit year that the card expires in.
                            example: '2021'
                          bin:
                            type: string
                            description: The first 6 digits of the card number
                            example: '123456'
                          issuer:
                            type: string
                            description: The bank that issued the card
                            example: Chase
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this card account payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this card account payment method was last updated.
                          connection:
                            type: object
                            description: Details about the connection to the third party for this card account.
                            properties:
                              id:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique card connection identifier.
                              externalAccountID:
                                type: string
                                description: This is the identification number of a customer's card account provided by a third party processor.
                              connectionStatus:
                                type: string
                                enum:
                                - UNKNOWN_CONNECTION_STATUS
                                - VERIFIED
                                - FAILED
                                default: UNKNOWN_CONNECTION_STATUS
                                description: This is the status of the card account provided by a third party processor.
                                example: VERIFIED
                              provider:
                                type: string
                                enum:
                                - UNKNOWN_PROVIDER
                                - MANUAL
                                - CYBERSOURCE
                                - EPX
                                - VGS
                                default: UNKNOWN_PROVIDER
                                description: This is the name of the third party processor that is being used for the card account.
                                example: CYBERSOURCE
                              createdAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party card connection was created.
                              updatedAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party card connection was last updated.
                          postalCode:
                            type: string
                            description: The postal code associated with the card account.
                            example: '12345'
                      checkPayment:
                        type: object
                        description: Details about a check payment payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique check payment identifier.
                          checkNumber:
                            type: string
                            description: This is the number associated to the check.
                          checkName:
                            type: string
                            description: This is the name associated to the check.
                          memo:
                            type: string
                            description: This is the description of the purpose of the check.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this check payment was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this check payment payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this check payment payment method was last updated.
                      manualPayment:
                        type: object
                        description: Details about a manual payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique manual payment identifier.
                          notes:
                            type: string
                            description: This is the description of the manual payment.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this manual payment was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this manual payment payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this manual payment payment method was last updated.
                      externalCollection:
                        type: object
                        description: Details about an external collection payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique manual payment identifier.
                          originalAccountNumber:
                            type: string
                            description: This is the original account number associated to the external collection.
                          fundingAccountType:
                            type: string
                            description: This is type associated to the funding account.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this external collection payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this external collection payment method was last updated.
                          externalAgency:
                            type: string
                            description: This is the name of the external collection agency.
                      tradeInCredit:
                        type: object
                        description: Details about a trade in credit payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique trade in credit identifier.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this trade in credit was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this trade in credit payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this trade in credit payment method was last updated.
                      paperCheck:
                        type: object
                        properties: {}
                      source:
                        type: string
                        description: This is the name of service who creates payment method
                        example: COLLECTIONS or MEMBER_PORTAL
        '201':
          description: A successful response that returns a payment method model.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a created payment method.
                properties:
                  paymentMethod:
                    type: object
                    description: An object that represents a payment method model.  Only one of the sub models, BankAccount and CardAccount, will exist and will be identified by paymentMethodType.
                    required:
                    - id
                    - createdAt
                    - name
                    - paymentMethodType
                    - updatedAt
                    properties:
                      id:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique payment method identifier.
                      scopeID:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
                      name:
                        type: string
                        description: A descriptive name to identify the payment method.
                        example: John Doe Bank Account
                      paymentMethodType:
                        type: string
                        enum:
                        - UNKNOWN_PAYMENT_METHOD_TYPE
                        - BANK_ACCOUNT
                        - CARD_ACCOUNT
                        - BANK_ACCOUNT_AUTHENTICATED
                        - CHECK_PAYMENT
                        - MANUAL_PAYMENT
                        - EXTERNAL_COLLECTION
                        - TRADE_IN_CREDIT
                        - PAPER_CHECK
                        default: UNKNOWN_PAYMENT_METHOD_TYPE
                        description: A high level category of the form of payments.
                        example: BANK_ACCOUNT_AUTHENTICATED
                      scopeType:
                        type: string
                        enum:
                        - UNKNOWN_SCOPE_TYPE
                        - BUYER
                        - MERCHANT
                        - PROGRAM_AGREEMENT
                        - PARTNER
                        default: UNKNOWN_SCOPE_TYPE
                        description: Identifies the owner of the payment method.
                        example: BUYER
                      createdAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp that this payment method was created at.
                      deletedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp this payment method was deleted at.
                      updatedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp this payment method was last updated at.
                      isDeletable:
                        type: boolean
                        description: A flag indicating if a payment method can be deleted.
                        example: true
                      bankAccount:
                        type: object
                        description: Details about a bank account payment method.
                        required:
                        - id
                        - bankName
                        - createdAt
                        - accountNumber
                        - accountType
                        - routingNumber
                        - updatedAt
                        - changeReceived
                        - achBlocked
                        - returnCode
                        - returnDescription
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique bank account identifier.
                          bankName:
                            type: string
                            description: Identifies the institution that the account belongs to.
                            example: Bread National Bank
                          accountType:
                            type: string
                            enum:
                            - UNKNOWN_ACCOUNT_TYPE
                            - CHECKING
                            - SAVINGS
                            description: Identifies the type of the account.
                            example: CHECKING
                          setupType:
                            type: string
                            enum:
                            - UNKNOWN_SETUP_TYPE
                            - ACH
                            - EFT
                            default: UNKNOWN_SETUP_TYPE
                            description: Identifies the way funds are transferred.
                            example: ACH
                          accountNumber:
                            type: string
                            description: The number assigned to the account by the institution.
                          routingNumber:
                            type: string
                            description: The institution's identifying number.
                          country:
                            allOf:
                            - type: string
                              description: The two character ISO-3166-1 country code.
                              example: US
                              minLength: 2
                              maxLength: 2
                              externalDocs:
                                description: ISO-3166-1
                                url: https://en.wikipedia.org/wiki/ISO_3166-1
                            description: The country code for this bank account's location.
                          currency:
                            allOf:
                            - type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            description: The type of currency used with this bank account.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this bank account payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this bank account payment method was last updated.
                          connection:
                            type: object
                            description: Details about a connection to a third party for this bank account.
                            properties:
                              id:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique bank connection identifier.
                              externalAccountID:
                                type: string
                                description: This is the identification number for a payment method within a customer account provided by a third party authorization program.
                              connectionID:
                                type: string
                                description: This is a one-time identification number provided to lookup a newly created customer account in a third party authorization program.
                              token:
                                type: string
                                description: This is a token that is used to connect to a third party authorization program.
                              organizationID:
                                type: string
                                description: This is the organization number the account is assigned to by a third party authorization program.
                              externalOrganizationID:
                                type: string
                                description: This is the organization number the account is assigned to by a third party authorization program.
                              accountHolderName:
                                type: string
                                description: This is the name of a bank account holder.
                                example: John Doe
                              connectionStatus:
                                type: string
                                enum:
                                - UNKNOWN_CONNECTION_STATUS
                                - VERIFIED
                                - UNVERIFIED
                                - FAILED
                                default: UNKNOWN_CONNECTION_STATUS
                                description: This is the status of a connection to a bank account from a third party authorization program.
                                example: VERIFIED
                              provider:
                                type: string
                                enum:
                                - UNKNOWN_PROVIDER
                                - MANUAL
                                - FLINKS
                                default: UNKNOWN_PROVIDER
                                description: This is the third party authorization program used to authorize the bank account.
                                example: FLINKS
                              createdAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party bank connection was created.
                              updatedAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party bank connection was last updated.
                          changeReceived:
                            type: boolean
                            description: The Flag to indicate this payment method has related NOC.
                          achBlocked:
                            type: boolean
                            description: The Flag to indicate this payment method has been blocked.
                          returnCode:
                            type: string
                            description: The return code associated with account being blocked.
                          returnDescription:
                            type: string
                            description: The description associated with the return code for blocked account.
                      cardAccount:
                        type: object
                        description: Details about a card account payment method.
                        required:
                        - id
                        - cardName
                        - last4
                        - expirationYear
                        - expirationMonth
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique card account identifier.
                          cardType:
                            type: string
                            enum:
                            - UNKNOWN_CARD_TYPE
                            - CREDIT
                            - DEBIT
                            default: UNKNOWN_CARD_TYPE
                            description: The type of card that is being used.
                            example: DEBIT
                          cardName:
                            type: string
                            description: The name of the card processor.
                            example: VISA
                          last4:
                            type: string
                            description: The last 4 digits of the card number
                            example: '1234'
                          expirationMonth:
                            type: string
                            description: The two digit month that the card expires in.
                            example: '10'
                          expirationYear:
                            type: string
                            description: The four digit year that the card expires in.
                            example: '2021'
                          bin:
                            type: string
                            description: The first 6 digits of the card number
                            example: '123456'
                          issuer:
                            type: string
                            description: The bank that issued the card
                            example: Chase
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this card account payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this card account payment method was last updated.
                          connection:
                            type: object
                            description: Details about the connection to the third party for this card account.
                            properties:
                              id:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique card connection identifier.
                              externalAccountID:
                                type: string
                                description: This is the identification number of a customer's card account provided by a third party processor.
                              connectionStatus:
                                type: string
                                enum:
                                - UNKNOWN_CONNECTION_STATUS
                                - VERIFIED
                                - FAILED
                                default: UNKNOWN_CONNECTION_STATUS
                                description: This is the status of the card account provided by a third party processor.
                                example: VERIFIED
                              provider:
                                type: string
                                enum:
                                - UNKNOWN_PROVIDER
                                - MANUAL
                                - CYBERSOURCE
                                - EPX
                                - VGS
                                default: UNKNOWN_PROVIDER
                                description: This is the name of the third party processor that is being used for the card account.
                                example: CYBERSOURCE
                              createdAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party card connection was created.
                              updatedAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp for when this third party card connection was last updated.
                          postalCode:
                            type: string
                            description: The postal code associated with the card account.
                            example: '12345'
                      checkPayment:
                        type: object
                        description: Details about a check payment payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique check payment identifier.
                          checkNumber:
                            type: string
                            description: This is the number associated to the check.
                          checkName:
                            type: string
                            description: This is the name associated to the check.
                          memo:
                            type: string
                            description: This is the description of the purpose of the check.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this check payment was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this check payment payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this check payment payment method was last updated.
                      manualPayment:
                        type: object
                        description: Details about a manual payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique manual payment identifier.
                          notes:
                            type: string
                            description: This is the description of the manual payment.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this manual payment was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this manual payment payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this manual payment payment method was last updated.
                      externalCollection:
                        type: object
                        description: Details about an external collection payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique manual payment identifier.
                          originalAccountNumber:
                            type: string
                            description: This is the original account number associated to the external collection.
                          fundingAccountType:
                            type: string
                            description: This is type associated to the funding account.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this external collection payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this external collection payment method was last updated.
                          externalAgency:
                            type: string
                            description: This is the name of the external collection agency.
                      tradeInCredit:
                        type: object
                        description: Details about a trade in credit payment method.
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: A unique trade in credit identifier.
                          collectedTs:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp of when this trade in credit was collected.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this trade in credit payment method was created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when this trade in credit payment method was last updated.
                      paperCheck:
                        type: object
                        properties: {}
                      source:
                        type: string
                        description: This is the name of service who creates payment method
                        example: COLLECTIONS or MEMBER_PORTAL
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Payments encountered an error while processing your request.
          content:
            application/json:
              schema:
                required:
                - code
                - domain
                - message
                type: object
                properties:
                  code:
                    type: integer
                    description: The underlying http status code
                    format: int32
                    example: 500
                  message:
                    type: string
                    description: A simple message in english describing the error and can be returned to the consumer
                    example: Age cannot be less than 18
                  domain:
                    type: string
                    description: The domain where the error is originating from as defined by the service
                    example: Payments
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                    example:
                      propertyName: propertyName is required
      parameters:
      - description: API version
        in: header
        name: X-API-VERSION
        required: true
        schema:
          type: string
        example: v2
      requestBody:
        description: Request body for creating a payment method
        content:
          application/json:
            schema:
              description: A request to create a payment method.  Only one of the sub models, BankAccount and CardAccount, should be used, and paymentMethodType should identify which one was used.
              required:
              - scopeID
              - paymentMethodType
              properties:
                scopeID:
                  allOf:
                  - type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
                name:
                  type: string
                  description: This is the nickname for the payment method.
                  example: John Doe Checking Account
                scopeType:
                  type: string
                  enum:
                  - UNKNOWN_SCOPE_TYPE
                  - BUYER
                  - MERCHANT
                  - PROGRAM_AGREEMENT
                  - PARTNER
                  default: UNKNOWN_SCOPE_TYPE
                  description: Identifies the owner of the payment method.
                  example: BUYER
                paymentMethodType:
                  type: string
                  enum:
                  - UNKNOWN_PAYMENT_METHOD_TYPE
                  - BANK_ACCOUNT
                  - CARD_ACCOUNT
                  - BANK_ACCOUNT_AUTHENTICATED
                  - CHECK_PAYMENT
                  - EXTERNAL_COLLECTION
                  - TRADE_IN_CREDIT
                  - MANUAL_PAYMENT
                  - PAPER_CHECK
                  default: UNKNOWN_PAYMENT_METHOD_TYPE
                  description: A high level category of the form of payments.
                  example: BANK_ACCOUNT_AUTHENTICATED
                bankAccount:
                  type: object
                  description: A request to create a bank account.  Will be used as part of the CreatePaymentMethodRequest.
                  required:
                  - bankName
                  - country
                  - currency
                  - accountType
                  - accountNumber
                  - routingNumber
                  - setupType
                  properties:
                    bankName:
                      type: string
                      description: This is the name of the bank that holds the account to be created.
                      example: Bread National Bank
                    accountType:
                      type: string
                      enum:
                      - UNKNOWN_ACCOUNT_TYPE
                      - CHECKING
                      - SAVINGS
                      description: Identifies the type of the account.
                      example: CHECKING
                    setupType:
                      type: string
                      enum:
                      - UNKNOWN_SETUP_TYPE
                      - ACH
                      - EFT
                      default: UNKNOWN_SETUP_TYPE
                      description: Identifies the way funds are transferred.
                      example: ACH
                    accountNumber:
                      type: string
                      description: This is the account number provided by the bank for the account being created.
                    routingNumber:
                      type: string
                      description: This is the routing number that is assigned to the banking institution for the account being created.
                    country:
                      allOf:
                      - type: string
                        description: The two character ISO-3166-1 country code.
                        example: US
                        minLength: 2
                        maxLength: 2
                        externalDocs:
                          description: ISO-3166-1
                          url: https://en.wikipedia.org/wiki/ISO_3166-1
                      description: The country code for this bank account's location.
                    currency:
                      allOf:
                      - type: string
                        description: The three letter currency code as defined in ISO 4217.
                        example: USD
                        minLength: 3
                        maxLength: 3
                        externalDocs:
                          description: ISO 4217
                          url: https://en.wikipedia.org/wiki/ISO_4217
                      description: The type of currency used with this bank account.
                bankAccountAuthenticated:
                  type: object
                  description: A request to create a bank account with a third party.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    accountID:
                      type: string
                      description: This is the identification number for a payment method within a customer account provided by a third party authorization program.
                    connectionID:
                      type: string
                      description: This is a one-time identification number provided to lookup a newly created customer account in a third party authorization program.
                    provider:
                      type: string
                      enum:
                      - UNKNOWN_PROVIDER
                      - MANUAL
                      - FLINKS
                      default: UNKNOWN_PROVIDER
                      description: This is the third party authorization program used to authorize the bank account.
                      example: FLINKS
                cardAccount:
                  type: object
                  description: A request to create a card account.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    cardType:
                      type: string
                      enum:
                      - UNKNOWN_CARD_TYPE
                      - CREDIT
                      - DEBIT
                      default: UNKNOWN_CARD_TYPE
                      description: The type of card that is being used.
                      example: DEBIT
                    provider:
                      type: string
                      enum:
                      - UNKNOWN_PROVIDER
                      - MANUAL
                      - CYBERSOURCE
                      - EPX
                      - VGS
                      default: UNKNOWN_PROVIDER
                      description: This is the name of the third party processor that is being used for the card account.
                      example: CYBERSOURCE
                    nonce:
                      type: string
                      description: This is a one time use identification number for the card account that is being created.
                    postalCode:
                      type: string
                      description: Postal code for billing address
                      example: 02139
                    expMonth:
                      type: string
                      description: The two digit month that the card expires in.
                      example: 01 or 11
                    expYear:
                      type: string
                      description: The two or four digit year that the card expires in.
                      example: 25 or 2025
                checkPayment:
                  type: object
                  description: A request to create a check payment.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    checkNumber:
                      type: string
                      description: This is the number associated to the check.
                    checkName:
                      type: string
                      description: This is the name associated to the check.
                    memo:
                      type: string
                      description: This is the description of the purpose of the check.
                    collectedTs:
                      allOf:
                      - type: string
                        format: date-time
                        description: The timestamp value formatted per RFC3339. This does not allow nulls.
                        example: '2020-12-31T15:10:55Z'
                        externalDocs:
                          description: RFC3339
                          url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                      description: The timestamp of when this check payment was collected.
                manualPayment:
                  type: object
                  description: A request to create a manual payment.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    notes:
                      type: string
                      description: This is the description of the manual payment.
                    collectedTs:
                      allOf:
                      - type: string
                        format: date-time
                        description: The timestamp value formatted per RFC3339. This does not allow nulls.
                        example: '2020-12-31T15:10:55Z'
                        externalDocs:
                          description: RFC3339
                          url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                      description: The timestamp of when this manual payment was collected.
                externalCollection:
                  type: object
                  description: A request to create an external collection payment method.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    originalAccountNumber:
                      type: string
                      description: This is the original account number associated to the external collection.
                    fundingAccountType:
                      type: string
                      description: This is type associated to the funding account.
                    externalAgency:
                      type: string
                      description: This is the name of the external collection agency.
                tradeInCredit:
                  type: object
                  description: A request to create a trade in credit.  Will be used as part of the CreatePaymentMethodRequest.
                  properties:
                    collectedTs:
                      allOf:
                      - type: string
                        format: date-time
                        description: The timestamp value formatted per RFC3339. This does not allow nulls.
                        example: '2020-12-31T15:10:55Z'
                        externalDocs:
                          description: RFC3339
                          url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                      description: The timestamp of when this trade in credit was collected.
                paperCheck:
                  type: object
                  description: A request to create a paper check.  Will be used as part of the CreatePaymentMethodRequest.
                  properties: {}
                source:
                  type: string
                  description: This is the name of service who creates payment method
                  example: COLLECTIONS or MEMBER_PORTAL
      tags:
      - Payment Methods
      security:
      - bearerAuthPayments:
        - w:paymentMethod
        - w:paymentMethod.manualPayment
        - w:paymentMethod.tradeInCredit
        - w:paymentMethod.externalCollection
    get:
      summary: List Payment Methods
      description: Returns all payment methods.
      operationId: listPaymentMethods
      responses:
        '200':
          description: A successful response returns an array of payment method models.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a payment method list request.
                required:
                - paymentMethods
                properties:
                  paymentMethods:
                    type: array
                    items:
                      type: object
                      description: An object that represents a payment method model.  Only one of the sub models, BankAccount and CardAccount, will exist and will be identified by paymentMethodType.
                      required:
                      - id
                      - createdAt
                      - name
                      - paymentMethodType
                      - updatedAt
                      properties:
                        id:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: A unique payment method identifier.
                        scopeID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
                        name:
                          type: string
                          description: A descriptive name to identify the payment method.
                          example: John Doe Bank Account
                        paymentMethodType:
                          type: string
                          enum:
                          - UNKNOWN_PAYMENT_METHOD_TYPE
                          - BANK_ACCOUNT
                          - CARD_ACCOUNT
                          - BANK_ACCOUNT_AUTHENTICATED
                          - CHECK_PAYMENT
                          - MANUAL_PAYMENT
                          - EXTERNAL_COLLECTION
                          - TRADE_IN_CREDIT
                          - PAPER_CHECK
                          default: UNKNOWN_PAYMENT_METHOD_TYPE
                          description: A high level category of the form of payments.
                          example: BANK_ACCOUNT_AUTHENTICATED
                        scopeType:
                          type: string
                          enum:
                          - UNKNOWN_SCOPE_TYPE
                          - BUYER
                          - MERCHANT
                          - PROGRAM_AGREEMENT
                          - PARTNER
                          default: UNKNOWN_SCOPE_TYPE
                          description: Identifies the owner of the payment method.
                          example: BUYER
                        createdAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The timestamp that this payment method was created at.
                        deletedAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The timestamp this payment method was deleted at.
                        updatedAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The timestamp this payment method was last updated at.
                        isDeletable:
                          type: boolean
                          description: A flag indicating if a payment method can be deleted.
                          example: true
                        bankAccount:
                          type: object
                          description: Details about a bank account payment method.
                          required:
                          - id
                          - bankName
                          - createdAt
                          - accountNumber
                          - accountType
                          - routingNumber
                          - updatedAt
                          - changeReceived
                          - achBlocked
                          - returnCode
                          - returnDescription
                          properties:
                            id:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique bank account identifier.
                            bankName:
                              type: string
                              description: Identifies the institution that the account belongs to.
                              example: Bread National Bank
                            accountType:
                              type: string
                              enum:
                              - UNKNOWN_ACCOUNT_TYPE
                              - CHECKING
                              - SAVINGS
                              description: Identifies the type of the account.
                              example: CHECKING
                            setupType:
                              type: string
                              enum:
                              - UNKNOWN_SETUP_TYPE
                              - ACH
                              - EFT
                              default: UNKNOWN_SETUP_TYPE
                              description: Identifies the way funds are transferred.
                              example: ACH
                            accountNumber:
                              type: string
                              description: The number assigned to the account by the institution.
                            routingNumber:
                              type: string
                              description: The institution's identifying number.
                            country:
                              allOf:
                              - type: string
                                description: The two character ISO-3166-1 country code.
                                example: US
                                minLength: 2
                                maxLength: 2
                                externalDocs:
                                  description: ISO-3166-1
                                  url: https://en.wikipedia.org/wiki/ISO_3166-1
                              description: The country code for this bank account's location.
                            currency:
                              allOf:
                              - type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              description: The type of currency used with this bank account.
                            createdAt:
                              allOf:
                              - type: string
                                format: date-time
[...]
