openapi: 3.2.0
info:
  title: Merchant Operations Reporting API
  description: Merchants Operations enables merchants to manage their transactions including authorizing purchases, settling them as well as additional actions like refund and cancellations.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Reporting
paths:
  /api/reporting/report/loan-history:
    get:
      tags:
      - Reporting
      summary: Get Loan History Report By Name
      description: Get historical reports and analytics
      operationId: getLoanHistory
      deprecated: true
      security:
      - bearerAuthReporting:
        - r:reporting.analytics
      parameters:
      - name: merchantID.eq
        in: query
        required: true
        description: Query items belonging to provided merchant identifier.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: programID.eq
        in: query
        description: Query items belonging to provided identifier(s) of the program(s).
        explode: true
        schema:
          type: array
          minItems: 0
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: date.gte
        in: query
        required: true
        description: Query items with dates on and after provided date.
        schema:
          type: string
          format: date
          description: The date value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: date.lte
        in: query
        required: true
        description: Query items with dates before and on provided date.
        schema:
          type: string
          format: date
          description: The date value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: groupID.eq
        in: query
        description: The unique identifier(s) of the group(s) which is used to fetch transactions made from the locations belonging to these groups.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: locationID.eq
        in: query
        description: The unique identifier(s) of the location(s) which is used to fetch transactions made from these locations.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: includeAllDescendantMerchants
        in: query
        description: Boolean parameter to include all descendant merchants in the report
        schema:
          type: boolean
        example: 'true'
      responses:
        '200':
          description: Get loan history report response.
          content:
            application/json:
              schema:
                type: object
                description: all metadata and data related to a requested report
                required:
                - name
                - data
                properties:
                  profile:
                    type: string
                    description: declares the descriptor of the resource
                    example: tabular-data-resource
                  name:
                    type: string
                    description: simple identifier to be used for the resource
                    example: loan-history
                  title:
                    type: string
                    description: human readable title or label for the resource
                    example: Loan History
                  description:
                    type: string
                    description: human readable description of the resource
                    example: Loan History contains transaction metadata aggregated by day
                  mediatype:
                    type: string
                    description: expected report response mediatype
                    example: application/json
                  data:
                    oneOf:
                    - type: object
                      description: Loan history for a given merchantID and date range
                      properties:
                        totalLoanValue:
                          type: object
                          description: the total value of all loans
                          properties:
                            amount:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            paymentProductTypes:
                              type: array
                              items:
                                type: object
                                description: shows the total values per payment product type
                                required:
                                - type
                                properties:
                                  amount:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  type:
                                    type: string
                                    description: The type of payment product
                                    enum:
                                    - INSTALLMENTS
                                    - SPLITPAY
                                    - DEBT_CONSOLIDATION
                                    - PERSONAL_LOAN
                                    - HYBRID_LINE_OF_CREDIT
                                    example: INSTALLMENTS
                                  count:
                                    type: integer
                                    description: number of loans
                                    example: 100
                                  percentage:
                                    type: string
                                    description: percentage of overall loans that this product type comprises
                                    example: '27.4'
                                example:
                                  type: INSTALLMENTS
                                  amount:
                                    currency: USD
                                    value: 42707400
                                  count: 281
                                  percentage: '29.3'
                          example:
                            amount:
                              currency: USD
                              value: 104116800
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              amount:
                                currency: USD
                                value: 42707400
                            - type: SPLITPAY
                              amount:
                                currency: USD
                                value: 61409300
                        totalLoanVolume:
                          type: object
                          description: the total volume of all loans
                          required:
                          - count
                          properties:
                            count:
                              type: integer
                              description: number of loans
                              example: 100
                            paymentProductTypes:
                              type: array
                              items:
                                type: object
                                description: shows the total values per payment product type
                                required:
                                - type
                                properties:
                                  amount:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  type:
                                    type: string
                                    description: The type of payment product
                                    enum:
                                    - INSTALLMENTS
                                    - SPLITPAY
                                    - DEBT_CONSOLIDATION
                                    - PERSONAL_LOAN
                                    - HYBRID_LINE_OF_CREDIT
                                    example: INSTALLMENTS
                                  count:
                                    type: integer
                                    description: number of loans
                                    example: 100
                                  percentage:
                                    type: string
                                    description: percentage of overall loans that this product type comprises
                                    example: '27.4'
                                example:
                                  type: INSTALLMENTS
                                  amount:
                                    currency: USD
                                    value: 42707400
                                  count: 281
                                  percentage: '29.3'
                          example:
                            count: 831
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              count: 228
                              percentage: '27.4'
                            - type: SPLITPAY
                              count: 603
                              percentage: '72.6'
                        averageOrderValue:
                          type: object
                          description: the total value of all loans
                          properties:
                            amount:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            paymentProductTypes:
                              type: array
                              items:
                                type: object
                                description: shows the total values per payment product type
                                required:
                                - type
                                properties:
                                  amount:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  type:
                                    type: string
                                    description: The type of payment product
                                    enum:
                                    - INSTALLMENTS
                                    - SPLITPAY
                                    - DEBT_CONSOLIDATION
                                    - PERSONAL_LOAN
                                    - HYBRID_LINE_OF_CREDIT
                                    example: INSTALLMENTS
                                  count:
                                    type: integer
                                    description: number of loans
                                    example: 100
                                  percentage:
                                    type: string
                                    description: percentage of overall loans that this product type comprises
                                    example: '27.4'
                                example:
                                  type: INSTALLMENTS
                                  amount:
                                    currency: USD
                                    value: 42707400
                                  count: 281
                                  percentage: '29.3'
                          example:
                            amount:
                              currency: USD
                              value: 104116800
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              amount:
                                currency: USD
                                value: 42707400
                            - type: SPLITPAY
                              amount:
                                currency: USD
                                value: 61409300
                        daily:
                          type: object
                          description: aggreagtion of transaction loan data
                          properties:
                            averageValue:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            averageVolume:
                              type: integer
                              description: average volume of loans in the aggregate
                              example: 100
                            averageAOV:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            data:
                              type: array
                              items:
                                type: object
                                description: aggregate data for the given date or date range
                                required:
                                - transactionValue
                                - installmentsValue
                                - splitPayValue
                                - transactionVolume
                                - installmentsVolume
                                - splitPayVolume
                                - installmentsAOV
                                - splitPayAOV
                                properties:
                                  date:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateStart:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateEnd:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  transactionValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  installmentsValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  transactionVolume:
                                    type: integer
                                    description: number of transactions
                                    example: 100
                                  installmentsVolume:
                                    type: integer
                                    description: installment loan count
                                    example: 100
                                  splitPayVolume:
                                    type: integer
                                    description: split pay loan count
                                    example: 100
                                  installmentsAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                example:
                                  date: '2021-12-08'
                                  dateStart: '2021-12-08'
                                  dateEnd: '2021-12-17'
                                  transactionValue:
                                    currency: USD
                                    value: 2468
                                  installmentsValue:
                                    currency: USD
                                    value: 1234
                                  splitPayValue:
                                    currency: USD
                                    value: 1234
                                  transactionVolume: 87
                                  installmentsVolume: 40
                                  splitPayVolume: 47
                                  installmentsAOV:
                                    currency: USD
                                    value: 309
                                  splitPayAOV:
                                    currency: USD
                                    value: 263
                          example:
                            averageValue:
                              currency: USD
                              value: 1156853
                            averageVolume: 100
                            averageAOV:
                              currency: USD
                              value: 1234
                            data:
                            - date: '2021-12-01'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 100
                              installmentsVolume: 50
                              splitPayVolume: 50
                              installmentsAOV:
                                currency: USD
                                value: 247
                              splitPayAOV:
                                currency: USD
                                value: 247
                            - date: '2021-12-02'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 87
                              installmentsVolume: 40
                              splitPayVolume: 47
                              installmentsAOV:
                                currency: USD
                                value: 309
                              splitPayAOV:
                                currency: USD
                                value: 263
                        weekly:
                          type: object
                          description: aggreagtion of transaction loan data
                          properties:
                            averageValue:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            averageVolume:
                              type: integer
                              description: average volume of loans in the aggregate
                              example: 100
                            averageAOV:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            data:
                              type: array
                              items:
                                type: object
                                description: aggregate data for the given date or date range
                                required:
                                - transactionValue
                                - installmentsValue
                                - splitPayValue
                                - transactionVolume
                                - installmentsVolume
                                - splitPayVolume
                                - installmentsAOV
                                - splitPayAOV
                                properties:
                                  date:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateStart:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateEnd:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  transactionValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  installmentsValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  transactionVolume:
                                    type: integer
                                    description: number of transactions
                                    example: 100
                                  installmentsVolume:
                                    type: integer
                                    description: installment loan count
                                    example: 100
                                  splitPayVolume:
                                    type: integer
                                    description: split pay loan count
                                    example: 100
                                  installmentsAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                example:
                                  date: '2021-12-08'
                                  dateStart: '2021-12-08'
                                  dateEnd: '2021-12-17'
                                  transactionValue:
                                    currency: USD
                                    value: 2468
                                  installmentsValue:
                                    currency: USD
                                    value: 1234
                                  splitPayValue:
                                    currency: USD
                                    value: 1234
                                  transactionVolume: 87
                                  installmentsVolume: 40
                                  splitPayVolume: 47
                                  installmentsAOV:
                                    currency: USD
                                    value: 309
                                  splitPayAOV:
                                    currency: USD
                                    value: 263
                          example:
                            averageValue:
                              currency: USD
                              value: 1156853
                            averageVolume: 100
                            averageAOV:
                              currency: USD
                              value: 1234
                            data:
                            - date: '2021-12-01'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 100
                              installmentsVolume: 50
                              splitPayVolume: 50
                              installmentsAOV:
                                currency: USD
                                value: 247
                              splitPayAOV:
                                currency: USD
                                value: 247
                            - date: '2021-12-02'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 87
                              installmentsVolume: 40
                              splitPayVolume: 47
                              installmentsAOV:
                                currency: USD
                                value: 309
                              splitPayAOV:
                                currency: USD
                                value: 263
                        monthly:
                          type: object
                          description: aggreagtion of transaction loan data
                          properties:
                            averageValue:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            averageVolume:
                              type: integer
                              description: average volume of loans in the aggregate
                              example: 100
                            averageAOV:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            data:
                              type: array
                              items:
                                type: object
                                description: aggregate data for the given date or date range
                                required:
                                - transactionValue
                                - installmentsValue
                                - splitPayValue
                                - transactionVolume
                                - installmentsVolume
                                - splitPayVolume
                                - installmentsAOV
                                - splitPayAOV
                                properties:
                                  date:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateStart:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  dateEnd:
                                    type: string
                                    format: date
                                    description: The date value formatted per RFC3339. This does not allow nulls.
                                    example: '2020-12-31'
                                    externalDocs:
                                      description: RFC3339
                                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                  transactionValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  installmentsValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayValue:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  transactionVolume:
                                    type: integer
                                    description: number of transactions
                                    example: 100
                                  installmentsVolume:
                                    type: integer
                                    description: installment loan count
                                    example: 100
                                  splitPayVolume:
                                    type: integer
                                    description: split pay loan count
                                    example: 100
                                  installmentsAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  splitPayAOV:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                example:
                                  date: '2021-12-08'
                                  dateStart: '2021-12-08'
                                  dateEnd: '2021-12-17'
                                  transactionValue:
                                    currency: USD
                                    value: 2468
                                  installmentsValue:
                                    currency: USD
                                    value: 1234
                                  splitPayValue:
                                    currency: USD
                                    value: 1234
                                  transactionVolume: 87
                                  installmentsVolume: 40
                                  splitPayVolume: 47
                                  installmentsAOV:
                                    currency: USD
                                    value: 309
                                  splitPayAOV:
                                    currency: USD
                                    value: 263
                          example:
                            averageValue:
                              currency: USD
                              value: 1156853
                            averageVolume: 100
                            averageAOV:
                              currency: USD
                              value: 1234
                            data:
                            - date: '2021-12-01'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 100
                              installmentsVolume: 50
                              splitPayVolume: 50
                              installmentsAOV:
                                currency: USD
                                value: 247
                              splitPayAOV:
                                currency: USD
                                value: 247
                            - date: '2021-12-02'
                              transactionValue:
                                currency: USD
                                value: 2468
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 87
                              installmentsVolume: 40
                              splitPayVolume: 47
                              installmentsAOV:
                                currency: USD
                                value: 309
                              splitPayAOV:
                                currency: USD
                                value: 263
                      example:
                        loanHistory:
                          totalLoanValue:
                            amount:
                              currency: USD
                              value: 104116800
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              amount:
                                currency: USD
                                value: 42707400
                            - type: SPLITPAY
                              amount:
                                currency: USD
                                value: 61409300
                          totalLoanVolume:
                            count: 831
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              count: 228
                              percentage: '27.4'
                            - type: SPLITPAY
                              count: 603
                              percentage: '72.6'
                          averageOrderValue:
                            amount:
                              currency: USD
                              value: 125300
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              amount:
                                currency: USD
                                value: 203900
                            - type: SPLITPAY
                              amount:
                                currency: USD
                                value: 56400
                          daily:
                            averageValue:
                              currency: USD
                              value: 1156853
                            averageVolume: 100
                            averageAOV:
                              currency: USD
                              value: 1234
                            data:
                            - date: '2021-12-01'
                              transactionValue:
                                currency: USD
                                value: 1234
                              installmentsValue:
                                currency: USD
                                value: 1234
                              splitPayValue:
                                currency: USD
                                value: 1234
                              transactionVolume: 100
                              installmentsVolume: 50
                              splitPayVolume: 50
                              installmentsAOV:
                                currency: USD
                                value: 1234
                              splitPayAOV:
                                currency: USD
                                value: 1234
                          weekly: {}
                          monthly: {}
                  schema:
                    type: object
                    description: dictates the Header row of a CSV response
                    properties:
                      fields:
                        type: array
                        items:
                          type: object
                          description: describes a field of data returned
                          required:
                          - name
                          properties:
                            name:
                              type: string
                              description: unique value corresponing to the name of field/column present in the data
                              example: date
                            type:
                              type: string
                              description: data type of the corresponding value in the data
                              example: datetime
                example:
                  profile: tabular-data-resource
                  name: loan-history
                  title: Loan History
                  description: Loan history contains transaction metadata aggregated by day
                  mediatype: text/json
                  data:
                    loanHistory:
                      totalLoanValue:
                        amount:
                          currency: USD
                          value: 104116800
                        paymentProductTypes:
                        - type: INSTALLMENTS
                          amount:
                            currency: USD
                            value: 42707400
                        - type: SPLITPAY
                          amount:
                            currency: USD
                            value: 61409300
                      totalLoanVolume:
                        count: 831
                        paymentProductTypes:
                        - type: INSTALLMENTS
                          count: 228
                          percentage: '27.4'
                        - type: SPLITPAY
                          count: 603
                          percentage: '72.6'
                      averageOrderValue:
                        amount:
                          currency: USD
                          value: 125300
                        paymentProductTypes:
                        - type: INSTALLMENTS
                          amount:
                            currency: USD
                            value: 203900
                        - type: SPLITPAY
                          amount:
                            currency: USD
                            value: 56400
                      daily:
                        averageValue:
                          currency: USD
                          value: 1156853
                        averageVolume: 100
                        averageAOV:
                          currency: USD
                          value: 1234
                        data:
                        - date: '2021-12-01'
                          transactionValue:
                            currency: USD
                            value: 1234
                          installmentsValue:
                            currency: USD
                            value: 1234
                          splitPayValue:
                            currency: USD
                            value: 1234
                          transactionVolume: 100
                          installmentsVolume: 50
                          splitPayVolume: 50
                          installmentsAOV:
                            currency: USD
                            value: 1234
                          splitPayAOV:
                            currency: USD
                            value: 1234
                      weekly: {}
                      monthly: {}
            text/csv: {}
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Error response for Reporting errors.
          content:
            application/json:
              schema:
                description: Default error model for Reporting errors.
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - properties:
                    reason:
                      type: string
                      description: Reporting error reason codes
                      enum:
                      - Request_Validation
                      - Service_Unavailable
                      - User_Not_Authorized
                      example: Request_Validation
              example:
                code: 400
                message: unable to validate params
                domain: Reporting
                metadata: {}
                reason: Reporting_Validation
        '503':
          description: Error response for Reporting errors.
          content:
            application/json:
              schema:
                description: Default error model for Reporting errors.
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - properties:
                    reason:
                      type: string
                      description: Reporting error reason codes
                      enum:
                      - Request_Validation
                      - Service_Unavailable
                      - User_Not_Authorized
                      example: Request_Validation
              example:
                code: 400
                message: unable to validate params
                domain: Reporting
                metadata: {}
                reason: Reporting_Validation
  /api/reporting/report/data-insight:
    get:
      tags:
      - Reporting
      summary: Get Data Insight Report By Name
      description: Get historical reports and analytics
      operationId: getDataInsight
      security:
      - bearerAuthReporting:
        - r:reporting.analytics
      parameters:
      - name: merchantID.eq
        in: query
        required: true
        description: Query items belonging to provided merchant identifier.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: programID.eq
        in: query
        description: Query items belonging to provided identifier(s) of the program(s).
        explode: true
        schema:
          type: array
          minItems: 0
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: date.gte
        in: query
        required: true
        description: Query items with dates on and after provided date.
        schema:
          type: string
          format: date
          description: The date value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: date.lte
        in: query
        required: true
        description: Query items with dates before and on provided date.
        schema:
          type: string
          format: date
          description: The date value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: groupID.eq
        in: query
        description: The unique identifier(s) of the group(s) which is used to fetch transactions made from the locations belonging to these groups.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: locationID.eq
        in: query
        description: The unique identifier(s) of the location(s) which is used to fetch transactions made from these locations.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: includeAllDescendantMerchants
        in: query
        description: Boolean parameter to include all descendant merchants in the report
        schema:
          type: boolean
        example: 'true'
      - name: aggregateBy.eq
        in: query
        description: Unique string parameter to decide date range unit to be aggregated for the report.
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
        required: false
        example: monthly
      - name: responseType.eq
        in: query
        description: Unique string parameter to decide the response type to be whether in json or csv. This is optional, and the response is default to json.
        schema:
          type: string
          enum:
          - json
          - csv
        required: false
        example: json
      responses:
        '200':
          description: Get data insight report response.
          content:
            application/json:
              schema:
                type: object
                description: all metadata and data related to a requested report
                required:
                - name
                - data
                properties:
                  profile:
                    type: string
                    description: declares the descriptor of the resource
                    example: tabular-data-resource
                  name:
                    type: string
                    description: simple identifier to be used for the resource
                    example: data-insight
                  title:
                    type: string
                    description: human readable title or label for the resource
                    example: Data Insight
                  description:
                    type: string
                    description: human readable description of the resource
                    example: Data Insight contains transaction metadata aggregated by day
                  mediatype:
                    type: string
                    description: expected report response mediatype
                    example: application/json
                  data:
                    oneOf:
                    - type: object
                      description: Data insight for a given merchantID and date range
                      properties:
                        totalLoanValue:
                          type: object
                          description: the total value of all loans
                          properties:
                            amount:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
                                    url: https://en.wikipedia.org/wiki/ISO_4217
                                value:
                                  type: integer
                                  description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                  format: int64
                                  example: 100
                              description: Represents a monetary amount in the specified currency
                              example:
                                currency: USD
                                value: 50000
                            paymentProductTypes:
                              type: array
                              items:
                                type: object
                                description: shows the total values per payment product type
                                required:
                                - type
                                properties:
                                  amount:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  type:
                                    type: string
                                    description: The type of payment product
                                    enum:
                                    - INSTALLMENTS
                                    - SPLITPAY
                                    - DEBT_CONSOLIDATION
                                    - PERSONAL_LOAN
                                    - HYBRID_LINE_OF_CREDIT
                                    example: INSTALLMENTS
                                  count:
                                    type: integer
                                    description: number of loans
                                    example: 100
                                  percentage:
                                    type: string
                                    description: percentage of overall loans that this product type comprises
                                    example: '27.4'
                                example:
                                  type: INSTALLMENTS
                                  amount:
                                    currency: USD
                                    value: 42707400
                                  count: 281
                                  percentage: '29.3'
                          example:
                            amount:
                              currency: USD
                              value: 104116800
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              amount:
                                currency: USD
                                value: 42707400
                            - type: SPLITPAY
                              amount:
                                currency: USD
                                value: 61409300
                        totalLoanVolume:
                          type: object
                          description: the total volume of all loans
                          required:
                          - count
                          properties:
                            count:
                              type: integer
                              description: number of loans
                              example: 100
                            paymentProductTypes:
                              type: array
                              items:
                                type: object
                                description: shows the total values per payment product type
                                required:
                                - type
                                properties:
                                  amount:
                                    required:
                                    - currency
                                    - value
                                    properties:
                                      currency:
                                        type: string
                                        description: The three letter currency code as defined in ISO 4217.
                                        example: USD
                                        minLength: 3
                                        maxLength: 3
                                        externalDocs:
                                          description: ISO 4217
                                          url: https://en.wikipedia.org/wiki/ISO_4217
                                      value:
                                        type: integer
                                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                        format: int64
                                        example: 100
                                    description: Represents a monetary amount in the specified currency
                                    example:
                                      currency: USD
                                      value: 50000
                                  type:
                                    type: string
                                    description: The type of payment product
                                    enum:
                                    - INSTALLMENTS
                                    - SPLITPAY
                                    - DEBT_CONSOLIDATION
                                    - PERSONAL_LOAN
                                    - HYBRID_LINE_OF_CREDIT
                                    example: INSTALLMENTS
                                  count:
                                    type: integer
                                    description: number of loans
                                    example: 100
                                  percentage:
                                    type: string
                                    description: percentage of overall loans that this product type comprises
                                    example: '27.4'
                                example:
                                  type: INSTALLMENTS
                                  amount:
                                    currency: USD
                                    value: 42707400
                                  count: 281
                                  percentage: '29.3'
                          example:
                            count: 831
                            paymentProductTypes:
                            - type: INSTALLMENTS
                              count: 228
                              percentage: '27.4'
                            - type: SPLITPAY
                              count: 603
                              percentage: '72.6'
                        averageOrderValue:
                          type: object
                          description: the total value of all loans
                          properties:
                            amount:
                              required:
                              - currency
                              - value
                              properties:
                                currency:
                                  type: string
                                  description: The three letter currency code as defined in ISO 4217.
                                  example: USD
                                  minLength: 3
                                  maxLength: 3
                                  externalDocs:
                                    description: ISO 4217
[...]
