openapi: 3.2.0
info:
  title: Payments Refunds API
  description: Payments provides support for managing payment methods as well as retrieving payment execution and audit details.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Refunds
paths:
  /api/payments/refund:
    get:
      summary: List Refunds
      description: Returns all refunds.
      operationId: listRefunds
      responses:
        '200':
          description: A successful response returns an array of refund models.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a refund list request.
                properties:
                  refunds:
                    type: array
                    items:
                      type: object
                      description: An object that represents a refund model.
                      properties:
                        id:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: A unique refund identifier.
                        referenceID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: A unique refund reference identifier.
                        requestedAmount:
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                          description: The amount this refund is being requested for.
                        sourceType:
                          type: string
                          description: Identifies how the refund was originated.
                          enum:
                          - UNKNOWN_SOURCE_TYPE
                          - OCC
                          - REVERSAL
                          default: UNKNOWN_SOURCE_TYPE
                          example: OCC
                        status:
                          type: string
                          description: Identifies the processing status of a refund.
                          enum:
                          - UNKNOWN_STATUS
                          - RECEIVED
                          - SUCCESS
                          - PENDING
                          - PARTIAL
                          - FAILED
                          - NETWORK_FAILED
                          - CANCELLED
                          - REJECTED
                          - RETURNED
                          default: UNKNOWN_STATUS
                          example: SUCCESS
                        createdAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The timestamp of when the refund was created.
                        updatedAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The timestamp of when the refund was deleted.
                        payments:
                          type: array
                          items:
                            type: object
                            description: An object that represents a payment model.
                            properties:
                              id:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique payment identifier.
                              ownerEntityID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique owner entity identifier.
                              paymentMethodID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique payment method identifier.
                              programID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique program identifier.
                              referenceID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique payment reference identifier.
                              sourceID:
                                type: string
                                description: Source identifier.
                                example: b2ca2d87-488a-4c8e-90b7-52b24105829b
                              paymentProductID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique payment product identifier.
                              amount:
                                allOf:
                                - required:
                                  - currency
                                  - value
                                  properties:
                                    currency:
                                      type: string
                                      description: The three letter currency code as defined in ISO 4217.
                                      example: USD
                                      minLength: 3
                                      maxLength: 3
                                      externalDocs:
                                        description: ISO 4217
                                        url: https://en.wikipedia.org/wiki/ISO_4217
                                    value:
                                      type: integer
                                      description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                      format: int64
                                      example: 100
                                  description: Represents a monetary amount in the specified currency
                                  example:
                                    currency: USD
                                    value: 50000
                                description: The amount this payment is being made for.
                              ownerEntityType:
                                type: string
                                description: Identifies information about the caller making the payment.
                                enum:
                                - UNKNOWN_ENTITY_TYPE
                                - PAYMENT_AGREEMENT
                                - SETTLEMENT_TRANSACTION
                                default: UNKNOWN_ENTITY_TYPE
                                example: PAYMENT_AGREEMENT
                              scopeID:
                                allOf:
                                - type: string
                                  format: uuid
                                  description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                  example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                  externalDocs:
                                    description: RFC4122
                                    url: https://datatracker.ietf.org/doc/html/rfc4122.html
                                description: A unique scope identifier that should cor relate to scopeType. For example, a buyer id or merchant id.
                              scopeType:
                                type: string
                                enum:
                                - UNKNOWN_SCOPE_TYPE
                                - BUYER
                                - MERCHANT
                                - PROGRAM_AGREEMENT
                                - PARTNER
                                default: UNKNOWN_SCOPE_TYPE
                                description: Identifies the owner of the payment method.
                                example: BUYER
                              sourceType:
                                type: string
                                description: Identifies how the payment was originated.
                                enum:
                                - UNKNOWN_SOURCE_TYPE
                                - AUTOPAY
                                - SCHEDULED
                                - COLLECTIONS
                                - ONETIME
                                - OCC
                                - REFUND
                                - DOWN_PAYMENT
                                - CHECK_PAYMENT
                                - MANUAL_PAYMENT
                                - EXTERNAL_COLLECTION
                                - SPLITPAY_FIRST_PAYMENT
                                - TRADE_IN_CREDIT
                                default: UNKNOWN_SOURCE_TYPE
                                example: ONETIME
                              subSourceType:
                                type: string
                                description: Identifies additional source type information.
                                enum:
                                - UNKNOWN_SUB_SOURCE_TYPE
                                - WEB
                                - TEL
                                - IVR
                                default: UNKNOWN_SUB_SOURCE_TYPE
                                example: WEB
                              status:
                                type: string
                                description: 'Identifies the processing status of a payment. Note: `FAILED` is deprecated in favor of RETURNED'
                                enum:
                                - UNKNOWN_STATUS
                                - PENDING
                                - RECEIVED
                                - FAILED
                                - RETURNED
                                - REJECTED
                                - CANCELLED
                                default: UNKNOWN_STATUS
                                example: RECEIVED
                              subStatus:
                                type: string
                                description: Identifies additional payment status information.
                                enum:
                                - UNKNOWN_SUB_STATUS
                                - NONE
                                - RETRY
                                default: UNKNOWN_SUB_STATUS
                                example: RETRY
                              transactionType:
                                type: string
                                description: Identifies whether the payment was a credit or a debit.
                                enum:
                                - UNKNOWN_TRANSACTION_TYPE
                                - DEBIT
                                - CREDIT
                                default: UNKNOWN_TRANSACTION_TYPE
                                example: DEBIT
                              deletedAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp of when the payment was deleted.
                              isCancellable:
                                type: boolean
                                description: A flag indicating if a payment is cancellable
                                example: true
                              transactionID:
                                type: string
                                description: third party transaction id
                              reconID:
                                type: string
                                description: third party reconciliation id
                              createdAt:
                                allOf:
                                - type: string
                                  format: date-time
                                  description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                  example: '2020-12-31T15:10:55Z'
                                  externalDocs:
                                    description: RFC3339
                                    url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                                description: The timestamp of when the refund was created.
                        paperCheckDetails:
                          type: object
                          properties:
                            id:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: refund id
                            checkStatus:
                              type: string
                              description: internal check status
                            externalCheckStatus:
                              type: string
                              description: external check status from provider
                            externalTrackingNumber:
                              type: string
                              description: external tracking number from provider
                            checkNumber:
                              type: string
                              description: external check number from provider
                            externalCheckStatusDate:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when external check status changed.
                            checkIssuedDate:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when check is issued.
                            checkClosedDate:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when check is closed.
                            checkMailDate:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when check is mailed.
                            createdAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when paper check is created.
                            updatedAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp for when paper check is updated.
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Payments encountered an error while processing your request.
          content:
            application/json:
              schema:
                required:
                - code
                - domain
                - message
                type: object
                properties:
                  code:
                    type: integer
                    description: The underlying http status code
                    format: int32
                    example: 500
                  message:
                    type: string
                    description: A simple message in english describing the error and can be returned to the consumer
                    example: Age cannot be less than 18
                  domain:
                    type: string
                    description: The domain where the error is originating from as defined by the service
                    example: Payments
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                    example:
                      propertyName: propertyName is required
      parameters:
      - name: scopeID.eq
        in: query
        required: false
        description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: scopeType.eq
        in: query
        required: false
        schema:
          type: string
          enum:
          - UNKNOWN_SCOPE_TYPE
          - BUYER
          - MERCHANT
          - PROGRAM_AGREEMENT
          - PARTNER
          default: UNKNOWN_SCOPE_TYPE
          description: Identifies the owner of the payment method.
          example: BUYER
      - description: API version
        in: header
        name: X-API-VERSION
        required: true
        schema:
          type: string
        example: v2
      tags:
      - Refunds
      security:
      - bearerAuthPayments:
        - r:payment
  /api/payments/refund/{refundReferenceID}:
    get:
      summary: Get Refund
      description: Returns a refund matching the provided reference id.
      operationId: getRefund
      responses:
        '200':
          description: A successful response returns a refund model.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a refund get request.
                properties:
                  refund:
                    type: object
                    description: An object that represents a refund model.
                    properties:
                      id:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique refund identifier.
                      referenceID:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique refund reference identifier.
                      requestedAmount:
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                        description: The amount this refund is being requested for.
                      sourceType:
                        type: string
                        description: Identifies how the refund was originated.
                        enum:
                        - UNKNOWN_SOURCE_TYPE
                        - OCC
                        - REVERSAL
                        default: UNKNOWN_SOURCE_TYPE
                        example: OCC
                      status:
                        type: string
                        description: Identifies the processing status of a refund.
                        enum:
                        - UNKNOWN_STATUS
                        - RECEIVED
                        - SUCCESS
                        - PENDING
                        - PARTIAL
                        - FAILED
                        - NETWORK_FAILED
                        - CANCELLED
                        - REJECTED
                        - RETURNED
                        default: UNKNOWN_STATUS
                        example: SUCCESS
                      createdAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp of when the refund was created.
                      updatedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp of when the refund was deleted.
                      payments:
                        type: array
                        items:
                          type: object
                          description: An object that represents a payment model.
                          properties:
                            id:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment identifier.
                            ownerEntityID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique owner entity identifier.
                            paymentMethodID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment method identifier.
                            programID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique program identifier.
                            referenceID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment reference identifier.
                            sourceID:
                              type: string
                              description: Source identifier.
                              example: b2ca2d87-488a-4c8e-90b7-52b24105829b
                            paymentProductID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment product identifier.
                            amount:
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                              description: The amount this payment is being made for.
                            ownerEntityType:
                              type: string
                              description: Identifies information about the caller making the payment.
                              enum:
                              - UNKNOWN_ENTITY_TYPE
                              - PAYMENT_AGREEMENT
                              - SETTLEMENT_TRANSACTION
                              default: UNKNOWN_ENTITY_TYPE
                              example: PAYMENT_AGREEMENT
                            scopeID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique scope identifier that should cor relate to scopeType. For example, a buyer id or merchant id.
                            scopeType:
                              type: string
                              enum:
                              - UNKNOWN_SCOPE_TYPE
                              - BUYER
                              - MERCHANT
                              - PROGRAM_AGREEMENT
                              - PARTNER
                              default: UNKNOWN_SCOPE_TYPE
                              description: Identifies the owner of the payment method.
                              example: BUYER
                            sourceType:
                              type: string
                              description: Identifies how the payment was originated.
                              enum:
                              - UNKNOWN_SOURCE_TYPE
                              - AUTOPAY
                              - SCHEDULED
                              - COLLECTIONS
                              - ONETIME
                              - OCC
                              - REFUND
                              - DOWN_PAYMENT
                              - CHECK_PAYMENT
                              - MANUAL_PAYMENT
                              - EXTERNAL_COLLECTION
                              - SPLITPAY_FIRST_PAYMENT
                              - TRADE_IN_CREDIT
                              default: UNKNOWN_SOURCE_TYPE
                              example: ONETIME
                            subSourceType:
                              type: string
                              description: Identifies additional source type information.
                              enum:
                              - UNKNOWN_SUB_SOURCE_TYPE
                              - WEB
                              - TEL
                              - IVR
                              default: UNKNOWN_SUB_SOURCE_TYPE
                              example: WEB
                            status:
                              type: string
                              description: 'Identifies the processing status of a payment. Note: `FAILED` is deprecated in favor of RETURNED'
                              enum:
                              - UNKNOWN_STATUS
                              - PENDING
                              - RECEIVED
                              - FAILED
                              - RETURNED
                              - REJECTED
                              - CANCELLED
                              default: UNKNOWN_STATUS
                              example: RECEIVED
                            subStatus:
                              type: string
                              description: Identifies additional payment status information.
                              enum:
                              - UNKNOWN_SUB_STATUS
                              - NONE
                              - RETRY
                              default: UNKNOWN_SUB_STATUS
                              example: RETRY
                            transactionType:
                              type: string
                              description: Identifies whether the payment was a credit or a debit.
                              enum:
                              - UNKNOWN_TRANSACTION_TYPE
                              - DEBIT
                              - CREDIT
                              default: UNKNOWN_TRANSACTION_TYPE
                              example: DEBIT
                            deletedAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp of when the payment was deleted.
                            isCancellable:
                              type: boolean
                              description: A flag indicating if a payment is cancellable
                              example: true
                            transactionID:
                              type: string
                              description: third party transaction id
                            reconID:
                              type: string
                              description: third party reconciliation id
                            createdAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp of when the refund was created.
                      paperCheckDetails:
                        type: object
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: refund id
                          checkStatus:
                            type: string
                            description: internal check status
                          externalCheckStatus:
                            type: string
                            description: external check status from provider
                          externalTrackingNumber:
                            type: string
                            description: external tracking number from provider
                          checkNumber:
                            type: string
                            description: external check number from provider
                          externalCheckStatusDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when external check status changed.
                          checkIssuedDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is issued.
                          checkClosedDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is closed.
                          checkMailDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is mailed.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when paper check is created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when paper check is updated.
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Payments encountered an error while processing your request.
          content:
            application/json:
              schema:
                required:
                - code
                - domain
                - message
                type: object
                properties:
                  code:
                    type: integer
                    description: The underlying http status code
                    format: int32
                    example: 500
                  message:
                    type: string
                    description: A simple message in english describing the error and can be returned to the consumer
                    example: Age cannot be less than 18
                  domain:
                    type: string
                    description: The domain where the error is originating from as defined by the service
                    example: Payments
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                    example:
                      propertyName: propertyName is required
      parameters:
      - name: refundReferenceID
        in: path
        required: true
        description: A unique refund identifier.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: scopeID.eq
        in: query
        required: false
        description: A unique scope identifier that should correlate to scopeType. For example, a buyer id or merchant id.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: scopeType.eq
        in: query
        required: false
        schema:
          type: string
          enum:
          - UNKNOWN_SCOPE_TYPE
          - BUYER
          - MERCHANT
          - PROGRAM_AGREEMENT
          - PARTNER
          default: UNKNOWN_SCOPE_TYPE
          description: Identifies the owner of the payment method.
          example: BUYER
      - description: API version
        in: header
        name: X-API-VERSION
        required: true
        schema:
          type: string
        example: v2
      tags:
      - Refunds
      security:
      - bearerAuthPayments:
        - r:payment
  /api/payments/refund/stop-paper-check:
    put:
      summary: stop refund paper check
      description: cancel or void refund paper check
      operationId: stop-paper-check
      responses:
        '200':
          description: A successful response returns a refund model after stopping paper check.
          content:
            application/json:
              schema:
                type: object
                description: A response object for a stopped paper check.
                properties:
                  refund:
                    type: object
                    description: An object that represents a refund model.
                    properties:
                      id:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique refund identifier.
                      referenceID:
                        allOf:
                        - type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        description: A unique refund reference identifier.
                      requestedAmount:
                        allOf:
                        - required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                        description: The amount this refund is being requested for.
                      sourceType:
                        type: string
                        description: Identifies how the refund was originated.
                        enum:
                        - UNKNOWN_SOURCE_TYPE
                        - OCC
                        - REVERSAL
                        default: UNKNOWN_SOURCE_TYPE
                        example: OCC
                      status:
                        type: string
                        description: Identifies the processing status of a refund.
                        enum:
                        - UNKNOWN_STATUS
                        - RECEIVED
                        - SUCCESS
                        - PENDING
                        - PARTIAL
                        - FAILED
                        - NETWORK_FAILED
                        - CANCELLED
                        - REJECTED
                        - RETURNED
                        default: UNKNOWN_STATUS
                        example: SUCCESS
                      createdAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp of when the refund was created.
                      updatedAt:
                        allOf:
                        - type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        description: The timestamp of when the refund was deleted.
                      payments:
                        type: array
                        items:
                          type: object
                          description: An object that represents a payment model.
                          properties:
                            id:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment identifier.
                            ownerEntityID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique owner entity identifier.
                            paymentMethodID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment method identifier.
                            programID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique program identifier.
                            referenceID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment reference identifier.
                            sourceID:
                              type: string
                              description: Source identifier.
                              example: b2ca2d87-488a-4c8e-90b7-52b24105829b
                            paymentProductID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique payment product identifier.
                            amount:
                              allOf:
                              - required:
                                - currency
                                - value
                                properties:
                                  currency:
                                    type: string
                                    description: The three letter currency code as defined in ISO 4217.
                                    example: USD
                                    minLength: 3
                                    maxLength: 3
                                    externalDocs:
                                      description: ISO 4217
                                      url: https://en.wikipedia.org/wiki/ISO_4217
                                  value:
                                    type: integer
                                    description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                    format: int64
                                    example: 100
                                description: Represents a monetary amount in the specified currency
                                example:
                                  currency: USD
                                  value: 50000
                              description: The amount this payment is being made for.
                            ownerEntityType:
                              type: string
                              description: Identifies information about the caller making the payment.
                              enum:
                              - UNKNOWN_ENTITY_TYPE
                              - PAYMENT_AGREEMENT
                              - SETTLEMENT_TRANSACTION
                              default: UNKNOWN_ENTITY_TYPE
                              example: PAYMENT_AGREEMENT
                            scopeID:
                              allOf:
                              - type: string
                                format: uuid
                                description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                                example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                                externalDocs:
                                  description: RFC4122
                                  url: https://datatracker.ietf.org/doc/html/rfc4122.html
                              description: A unique scope identifier that should cor relate to scopeType. For example, a buyer id or merchant id.
                            scopeType:
                              type: string
                              enum:
                              - UNKNOWN_SCOPE_TYPE
                              - BUYER
                              - MERCHANT
                              - PROGRAM_AGREEMENT
                              - PARTNER
                              default: UNKNOWN_SCOPE_TYPE
                              description: Identifies the owner of the payment method.
                              example: BUYER
                            sourceType:
                              type: string
                              description: Identifies how the payment was originated.
                              enum:
                              - UNKNOWN_SOURCE_TYPE
                              - AUTOPAY
                              - SCHEDULED
                              - COLLECTIONS
                              - ONETIME
                              - OCC
                              - REFUND
                              - DOWN_PAYMENT
                              - CHECK_PAYMENT
                              - MANUAL_PAYMENT
                              - EXTERNAL_COLLECTION
                              - SPLITPAY_FIRST_PAYMENT
                              - TRADE_IN_CREDIT
                              default: UNKNOWN_SOURCE_TYPE
                              example: ONETIME
                            subSourceType:
                              type: string
                              description: Identifies additional source type information.
                              enum:
                              - UNKNOWN_SUB_SOURCE_TYPE
                              - WEB
                              - TEL
                              - IVR
                              default: UNKNOWN_SUB_SOURCE_TYPE
                              example: WEB
                            status:
                              type: string
                              description: 'Identifies the processing status of a payment. Note: `FAILED` is deprecated in favor of RETURNED'
                              enum:
                              - UNKNOWN_STATUS
                              - PENDING
                              - RECEIVED
                              - FAILED
                              - RETURNED
                              - REJECTED
                              - CANCELLED
                              default: UNKNOWN_STATUS
                              example: RECEIVED
                            subStatus:
                              type: string
                              description: Identifies additional payment status information.
                              enum:
                              - UNKNOWN_SUB_STATUS
                              - NONE
                              - RETRY
                              default: UNKNOWN_SUB_STATUS
                              example: RETRY
                            transactionType:
                              type: string
                              description: Identifies whether the payment was a credit or a debit.
                              enum:
                              - UNKNOWN_TRANSACTION_TYPE
                              - DEBIT
                              - CREDIT
                              default: UNKNOWN_TRANSACTION_TYPE
                              example: DEBIT
                            deletedAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp of when the payment was deleted.
                            isCancellable:
                              type: boolean
                              description: A flag indicating if a payment is cancellable
                              example: true
                            transactionID:
                              type: string
                              description: third party transaction id
                            reconID:
                              type: string
                              description: third party reconciliation id
                            createdAt:
                              allOf:
                              - type: string
                                format: date-time
                                description: The timestamp value formatted per RFC3339. This does not allow nulls.
                                example: '2020-12-31T15:10:55Z'
                                externalDocs:
                                  description: RFC3339
                                  url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                              description: The timestamp of when the refund was created.
                      paperCheckDetails:
                        type: object
                        properties:
                          id:
                            allOf:
                            - type: string
                              format: uuid
                              description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                              example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                              externalDocs:
                                description: RFC4122
                                url: https://datatracker.ietf.org/doc/html/rfc4122.html
                            description: refund id
                          checkStatus:
                            type: string
                            description: internal check status
                          externalCheckStatus:
                            type: string
                            description: external check status from provider
                          externalTrackingNumber:
                            type: string
                            description: external tracking number from provider
                          checkNumber:
                            type: string
                            description: external check number from provider
                          externalCheckStatusDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when external check status changed.
                          checkIssuedDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is issued.
                          checkClosedDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is closed.
                          checkMailDate:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when check is mailed.
                          createdAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when paper check is created.
                          updatedAt:
                            allOf:
                            - type: string
                              format: date-time
                              description: The timestamp value formatted per RFC3339. This does not allow nulls.
                              example: '2020-12-31T15:10:55Z'
                              externalDocs:
                                description: RFC3339
                                url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                            description: The timestamp for when paper check is updated.
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '500':
          description: Payments encountered an error while processing your request.
          content:
            application/json:
              schema:
                required:
                - code
                - domain
                - message
                type: object
                properties:
                  code:
                    type: integer
                    description: The underlying http status code
                    format: int32
                    example: 500
                  message:
                    type: string
                    description: A simple message in english describing the error and can be returned to the consumer
                    example: Age cannot be less than 18
                  domain:
                    type: string
                    description: The domain where the error is originating from as defined by the service
                    example: Payments
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                    example:
                      propertyName: propertyName is required
      parameters:
      - description: API version
        in: header
        name: X-API-VERSION
        required: true
        schema:
          type: string
        example: v2
      requestBody:
        description: Request body for stopping a paper check refund
        content:
          application/json:
            schema:
              description: A request to stop a refund paper check.
              required:
              - refundReferenceID
              properties:
                refundReferenceID:
                  allOf:
                  - type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  description: A unique refund reference identifier.
      tags:
      - Refunds
      security:
      - bearerAuthPayments:
        - u:payment.tool
