openapi: 3.2.0
info:
  title: Servicing Disclosures API
  description: Servicing supports a buyer's post purchase journey, enabling viewing and management of payment agreements across all payment products.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Disclosures
paths:
  /api/disclosure/payment-agreement/{paymentAgreementID}:
    post:
      summary: Generate a set of disclosures
      description: Generate and save a set of specified disclosures for a payment agreement. Returns the disclosure identity information
      operationId: generateDisclosures
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - w:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: paymentAgreementID
        description: The unique UUID of the payment agreement
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      requestBody:
        description: Request body for generating disclosures
        content:
          application/json:
            schema:
              description: The request body for generating multiple documents. Choose one of the disclosure Operations.
              properties:
                disclosureOperation:
                  type: string
                  enum:
                  - CHECKOUT
                  - AUTOPAY_ENROLLMENT
                  - ONE_TIME_PAYMENT
                  - HARDSHIP
                  description: A high level category of the operation being disclosed
                  example: CHECKOUT
                paymentMethodID:
                  allOf:
                  - type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  description: paymentMethodID is required for AutoPay Enrollment and AutoPay Checkout operations.
                paymentAmount:
                  allOf:
                  - required:
                    - currency
                    - value
                    properties:
                      currency:
                        type: string
                        description: The three letter currency code as defined in ISO 4217.
                        example: USD
                        minLength: 3
                        maxLength: 3
                        externalDocs:
                          description: ISO 4217
                          url: https://en.wikipedia.org/wiki/ISO_4217
                      value:
                        type: integer
                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                        format: int64
                        example: 100
                    description: Represents a monetary amount in the specified currency
                    example:
                      currency: USD
                      value: 50000
                  description: paymentAmount is required for payment operation (or OneTimePayment op).
                nextPaymentDueDate:
                  allOf:
                  - type:
                    - string
                    - 'null'
                    format: date
                    description: The date value formatted per RFC3339. This allows nulls.
                    example: '2020-12-31'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  description: Only needed for HARDSHIP disclosure operation
                finalInstallmentDueDate:
                  allOf:
                  - type:
                    - string
                    - 'null'
                    format: date
                    description: The date value formatted per RFC3339. This allows nulls.
                    example: '2020-12-31'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  description: Only needed for HARDSHIP disclosure operation
                firstSkippedInstallmentDate:
                  allOf:
                  - type:
                    - string
                    - 'null'
                    format: date
                    description: The date value formatted per RFC3339. This allows nulls.
                    example: '2020-12-31'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  description: Only needed for HARDSHIP disclosure operation
                secondSkippedInstallmentDate:
                  allOf:
                  - type:
                    - string
                    - 'null'
                    format: date
                    description: The date value formatted per RFC3339. This allows nulls.
                    example: '2020-12-31'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  description: Only needed for HARDSHIP disclosure operation
              required:
              - disclosureOperation
            examples:
              Checkout:
                summary: Generate disclosures with checkout disclosure operation
                description: An example of checkout disclosure operation that without causing autopay enrollment
                value:
                  disclosureOperation: CHECKOUT
              Hardship:
                summary: Generate disclosures with for skip payment assistance program
                description: An example of hardship disclosure operation
                value:
                  disclosureOperation: HARDSHIP
                  nextPaymentDueDate: '2022-04-02'
                  finalInstallmentDueDate: '2022-12-02'
                  firstSkippedInstallmentDate: '2022-02-02'
                  secondSkippedInstallmentDate: '2022-03-02'
              CheckoutWithAutopay:
                summary: Generate disclosures with checkout disclosure operation causes autopay enrollment
                description: An example of checkout disclosure operation, requires using `paymentMethodID`
                value:
                  disclosureOperation: CHECKOUT
                  paymentMethodID: cf343a78-4f83-403c-8728-6b37eb3c63cb
              AutopayEnrollment:
                summary: Generate disclosures with autopay disclosure operation
                description: An example of autopay disclosure operation, requires using `paymentMethodID`
                value:
                  disclosureOperation: AUTOPAY_ENROLLMENT
                  paymentMethodID: 35be2b5a-26d4-4d89-a382-144321f4c807
              OneTimePayment:
                summary: Generate disclosures with one-time payment disclosure operation
                description: An example of one-time disclosure operation, requires using `paymentAmount`
                value:
                  disclosureOperation: ONE_TIME_PAYMENT
                  paymentMethodID: 35be2b5a-26d4-4d89-a382-144321f4c807
                  paymentAmount:
                    currency: USD
                    value: 9988
      responses:
        '200':
          description: The response for Generate Disclosure POST request
          content:
            application/json:
              schema:
                type: object
                properties:
                  disclosureRef:
                    type: string
                    description: A checksum string to be returned as an acknowledgment for the disclosure operation e.g. Checkout
                    example: 75e5d039-ea4b-4d29-bdd0-818aeb2697ae:a719f1b9-ee9f-4bf5-b824-c59e97153a89
                  disclosures:
                    type: array
                    description: References to the generated disclosure documents
                    items:
                      type: object
                      description: The response body for one disclosure generated as part of a request to generate multiple disclosures
                      properties:
                        disclosureID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: The unique UUID of the generated disclosure
                        disclosureName:
                          allOf:
                          - description: A symbol identifying a disclosure document type
                            type: string
                            enum:
                            - loan-agreement
                            - loan-agreement-sp
                            - cob-activation
                            - cob-maintenance
                            - one-time
                            - auto-enroll
                            - auto-enroll-sp
                            - auto-enroll-pending
                            - scheduled-payment
                            - tila
                            - credit-score-notice
                            - auto-enroll-past-due
                            - auto-enroll-past-due-sp
                            - payment-full-terms
                            - copy-of-authorization
                            - copy-of-authorization-sp
                            - checkout-auto-enroll-sp
                            - hardship-confirm-0
                            - hardship-confirm-29
                            - hardship-confirm-59
                            - verification-service
                            - poa
                            - payment-confirm
                            - statement-hyloc
                            - loan-agreement-hyloc
                            - tila-hyloc
                            - auto-enroll-full-terms
                            - statement-di
                            - loan-agreement-di
                            - tila-di
                            - ''
                            example: loan-agreement
                          description: The name of the generated disclosure
                        documentURL:
                          type: string
                          description: A URL at which the document can be viewed
                          example: /api/disclosure/document/tila/payment-agreement/75e5d039-ea4b-4d29-bdd0-818aeb2697ae
                      required:
                      - disclosureID
                      - disclosureName
                      - documentURL
                      example:
                        disclosureID: 059d039e-9ae1-4387-9af7-c3543990b5a6
                        disclosureName: tila
                        documentURL: /api/disclosure/document/tila/payment-agreement/75e5d039-ea4b-4d29-bdd0-818aeb2697ae
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
  /api/disclosure/document/{disclosureName}/payment-agreement/{paymentAgreementID}:
    get:
      summary: Get latest disclosure by agreement ID and disclosure name
      description: Return the current version of the given disclosure for the given agreement, determined by most recent creation time
      operationId: getDisclosureByAgreementAndName
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - r:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: paymentAgreementID
        description: The unique UUID of the payment agreement
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: disclosureName
        in: path
        description: The name of the required disclosure
        required: true
        schema:
          description: A symbol identifying a disclosure document type
          type: string
          enum:
          - loan-agreement
          - loan-agreement-sp
          - cob-activation
          - cob-maintenance
          - one-time
          - auto-enroll
          - auto-enroll-sp
          - auto-enroll-pending
          - scheduled-payment
          - tila
          - credit-score-notice
          - auto-enroll-past-due
          - auto-enroll-past-due-sp
          - payment-full-terms
          - copy-of-authorization
          - copy-of-authorization-sp
          - checkout-auto-enroll-sp
          - hardship-confirm-0
          - hardship-confirm-29
          - hardship-confirm-59
          - verification-service
          - poa
          - payment-confirm
          - statement-hyloc
          - loan-agreement-hyloc
          - tila-hyloc
          - auto-enroll-full-terms
          - statement-di
          - loan-agreement-di
          - tila-di
          - ''
          example: loan-agreement
      - name: formatter
        in: query
        description: Specifies the format of the response. If set to 'pdf', the response will be returned as a PDF. Otherwise, will default to returning HTML/TEXT format.
        required: false
        schema:
          type: string
          example: pdf
      - name: before
        in: query
        description: Get the latest version generated on or before the specified timestamp (RFC3339 format)
        required: false
        schema:
          type: string
          format: date-time
          description: The timestamp value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31T15:10:55Z'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: estimated
        in: query
        required: false
        allowEmptyValue: true
        description: If true, return the latest estimated version of the disclosure.
        schema:
          type: boolean
      responses:
        '200':
          description: OK. The rendered disclosure markup.
          content:
            text/html:
              schema:
                type: string
                example: "<html lang=\"en\"> <head>\n <title>Truth In Lending Disclosure Statement</title>\n </head>\n <body>\n <div>\n <h1>TRUTH IN LENDING DISCLOSURE STATEMENT</h1>\n <div class=\"flex\">\n <div class=\"small-width\" data-testId=\"creditor\">\n <strong>Creditor:</strong><br />\n Comenity Capital Bank<br />\n PO Box 11499<br />\n Tampa, FL 33680<br />\n </div>\n </div>\n {{ end }}\n </div>\n </body></html>"
            text/plain:
              schema:
                type: string
                example: Truth In Lending Disclosure Statement
            application/pdf:
              schema:
                type: string
                format: binary
                description: The disclosure document rendered as a PDF file.
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
  /api/disclosure/document/{disclosureID}:
    get:
      summary: Get disclosure by ID
      description: Get the specific disclosure document defined by the disclosure ID
      operationId: getDisclosureByDisclosureID
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - r:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: disclosureID
        in: path
        description: The unique UUID assigned to each disclosure when it is generated
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: formatter
        in: query
        description: Specifies the format of the response. If set to 'pdf', the response will be returned as a PDF. Otherwise, will default to returning HTML/TEXT format.
        required: false
        schema:
          type: string
          example: pdf
      responses:
        '200':
          description: OK. The rendered disclosure markup.
          content:
            text/html:
              schema:
                type: string
                example: "<html lang=\"en\"> <head>\n <title>Truth In Lending Disclosure Statement</title>\n </head>\n <body>\n <div>\n <h1>TRUTH IN LENDING DISCLOSURE STATEMENT</h1>\n <div class=\"flex\">\n <div class=\"small-width\" data-testId=\"creditor\">\n <strong>Creditor:</strong><br />\n Comenity Capital Bank<br />\n PO Box 11499<br />\n Tampa, FL 33680<br />\n </div>\n </div>\n {{ end }}\n </div>\n </body></html>"
            text/plain:
              schema:
                type: string
                example: Truth In Lending Disclosure Statement
            application/pdf:
              schema:
                type: string
                format: binary
                description: The disclosure document rendered as a PDF file.
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
  /api/disclosure/document/{disclosureName}/target/{targetID}:
    get:
      summary: Get disclosure by target
      description: Get the named disclosure with a given target ID
      operationId: getDisclosureByNameAndTargetID
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - r:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: disclosureName
        in: path
        description: The name of the required disclosure
        required: true
        schema:
          description: A symbol identifying a disclosure document type
          type: string
          enum:
          - loan-agreement
          - loan-agreement-sp
          - cob-activation
          - cob-maintenance
          - one-time
          - auto-enroll
          - auto-enroll-sp
          - auto-enroll-pending
          - scheduled-payment
          - tila
          - credit-score-notice
          - auto-enroll-past-due
          - auto-enroll-past-due-sp
          - payment-full-terms
          - copy-of-authorization
          - copy-of-authorization-sp
          - checkout-auto-enroll-sp
          - hardship-confirm-0
          - hardship-confirm-29
          - hardship-confirm-59
          - verification-service
          - poa
          - payment-confirm
          - statement-hyloc
          - loan-agreement-hyloc
          - tila-hyloc
          - auto-enroll-full-terms
          - statement-di
          - loan-agreement-di
          - tila-di
          - ''
          example: loan-agreement
      - name: targetID
        in: path
        required: true
        description: Target ID is the UUID of the object related to the disclosure (the target) e.g. an agreement or payment. Can be an agreement, payment or other loan object
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: formatter
        in: query
        description: Specifies the format of the response. If set to 'pdf', the response will be returned as a PDF. Otherwise, will default to returning HTML/TEXT format.
        required: false
        schema:
          type: string
          example: pdf
      - name: estimated
        in: query
        required: false
        allowEmptyValue: true
        description: If true, return the latest estimated version of the disclosure.
        schema:
          type: boolean
      responses:
        '200':
          description: OK. The rendered disclosure markup.
          content:
            text/html:
              schema:
                type: string
                example: "<html lang=\"en\"> <head>\n <title>Truth In Lending Disclosure Statement</title>\n </head>\n <body>\n <div>\n <h1>TRUTH IN LENDING DISCLOSURE STATEMENT</h1>\n <div class=\"flex\">\n <div class=\"small-width\" data-testId=\"creditor\">\n <strong>Creditor:</strong><br />\n Comenity Capital Bank<br />\n PO Box 11499<br />\n Tampa, FL 33680<br />\n </div>\n </div>\n {{ end }}\n </div>\n </body></html>"
            text/plain:
              schema:
                type: string
                example: Truth In Lending Disclosure Statement
            application/pdf:
              schema:
                type: string
                format: binary
                description: The disclosure document rendered as a PDF file.
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
  /api/disclosure/static/{disclosureName}:
    get:
      summary: Get static disclosure
      description: Retrieve the static disclosure for the buyer
      operationId: getStaticDisclosure
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - r:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: disclosureName
        in: path
        description: The name of the required disclosure
        required: true
        schema:
          description: A symbol identifying a disclosure document type
          type: string
          enum:
          - loan-agreement
          - loan-agreement-sp
          - cob-activation
          - cob-maintenance
          - one-time
          - auto-enroll
          - auto-enroll-sp
          - auto-enroll-pending
          - scheduled-payment
          - tila
          - credit-score-notice
          - auto-enroll-past-due
          - auto-enroll-past-due-sp
          - payment-full-terms
          - copy-of-authorization
          - copy-of-authorization-sp
          - checkout-auto-enroll-sp
          - hardship-confirm-0
          - hardship-confirm-29
          - hardship-confirm-59
          - verification-service
          - poa
          - payment-confirm
          - statement-hyloc
          - loan-agreement-hyloc
          - tila-hyloc
          - auto-enroll-full-terms
          - statement-di
          - loan-agreement-di
          - tila-di
          - ''
          example: loan-agreement
      - name: buyerID
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
        description: The unique UUID of the buyer
      responses:
        '200':
          description: OK. The rendered disclosure markup.
          content:
            text/html:
              schema:
                type: string
                example: "<html lang=\"en\"> <head>\n <title>Truth In Lending Disclosure Statement</title>\n </head>\n <body>\n <div>\n <h1>TRUTH IN LENDING DISCLOSURE STATEMENT</h1>\n <div class=\"flex\">\n <div class=\"small-width\" data-testId=\"creditor\">\n <strong>Creditor:</strong><br />\n Comenity Capital Bank<br />\n PO Box 11499<br />\n Tampa, FL 33680<br />\n </div>\n </div>\n {{ end }}\n </div>\n </body></html>"
            text/plain:
              schema:
                type: string
                example: Truth In Lending Disclosure Statement
            application/pdf:
              schema:
                type: string
                format: binary
                description: The disclosure document rendered as a PDF file.
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
  /api/disclosure:
    get:
      summary: List disclosures
      description: List a set of disclosures, determined by the query parameters. Parameters are combined by intersection (AND), and at least one must be provided. Default sort is discloureName.asc, createdAt.desc, with a default limit of 10
      operationId: listDisclosures
      tags:
      - Disclosures
      security:
      - bearerAuthDisclosure:
        - r:disclosure.document
      parameters:
      - in: header
        name: X-API-VERSION
        description: 'X-API-VERSION: Header to specify the API version (i.e. v2)'
        schema:
          type: string
        required: true
      - name: buyerID.eq
        in: query
        required: false
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: agreementID.eq
        in: query
        required: false
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: disclosureName.eq
        in: query
        required: false
        schema:
          description: A symbol identifying a disclosure document type
          type: string
          enum:
          - loan-agreement
          - loan-agreement-sp
          - cob-activation
          - cob-maintenance
          - one-time
          - auto-enroll
          - auto-enroll-sp
          - auto-enroll-pending
          - scheduled-payment
          - tila
          - credit-score-notice
          - auto-enroll-past-due
          - auto-enroll-past-due-sp
          - payment-full-terms
          - copy-of-authorization
          - copy-of-authorization-sp
          - checkout-auto-enroll-sp
          - hardship-confirm-0
          - hardship-confirm-29
          - hardship-confirm-59
          - verification-service
          - poa
          - payment-confirm
          - statement-hyloc
          - loan-agreement-hyloc
          - tila-hyloc
          - auto-enroll-full-terms
          - statement-di
          - loan-agreement-di
          - tila-di
          - ''
          example: loan-agreement
      - name: hideUnacknowledged
        in: query
        required: false
        allowEmptyValue: true
        description: If true, hide unacknowledged disclosures in the response.
        schema:
          type: boolean
      - name: sort
        in: query
        required: false
        description: sort query specification. Sortable fields are buyerID, disclosureName, acknowledgedAt, createdAt
        example: sort=disclosureName.asc,createdAt.desc
        schema:
          type: string
          default: disclosureName.asc,createdAt.desc
          pattern: (buyerID|disclosureName|acknowledgedAt|createdAt)\.(asc|desc)
      - in: query
        name: limit
        description: The maximum number of records that will be returned in a result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 10
        example: 50
      - in: query
        name: offset
        description: The number of records to skip before starting to collect the result set. Used in conjunction with limit query parameter for pagination support
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 20
      responses:
        '200':
          description: The response for a List Disclosures GET request
          content:
            application/json:
              schema:
                description: Response for the ListDisclosuresResponseBody
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      description: A representation of a single disclosure document
                      properties:
                        disclosureID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: The unique UUID of the disclosure
                        disclosureName:
                          allOf:
                          - description: A symbol identifying a disclosure document type
                            type: string
                            enum:
                            - loan-agreement
                            - loan-agreement-sp
                            - cob-activation
                            - cob-maintenance
                            - one-time
                            - auto-enroll
                            - auto-enroll-sp
                            - auto-enroll-pending
                            - scheduled-payment
                            - tila
                            - credit-score-notice
                            - auto-enroll-past-due
                            - auto-enroll-past-due-sp
                            - payment-full-terms
                            - copy-of-authorization
                            - copy-of-authorization-sp
                            - checkout-auto-enroll-sp
                            - hardship-confirm-0
                            - hardship-confirm-29
                            - hardship-confirm-59
                            - verification-service
                            - poa
                            - payment-confirm
                            - statement-hyloc
                            - loan-agreement-hyloc
                            - tila-hyloc
                            - auto-enroll-full-terms
                            - statement-di
                            - loan-agreement-di
                            - tila-di
                            - ''
                            example: loan-agreement
                          description: The name of the disclosure
                        documentURL:
                          type: string
                          description: A URL at which the document can be viewed
                          example: /api/disclosure/document/tila/payment-agreement/75e5d039-ea4b-4d29-bdd0-818aeb2697ae
                        agreementID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: The unique UUID of the associated payment agreement
                        buyerID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: The unique UUID of the buyer that generated this document
                        acknowledgedAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The time the document was acknowledged, in UTC
                        createdAt:
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                          description: The time the document was created, in UTC
                        targetID:
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                          description: Target ID is the UUID of the object related to the disclosure (the target) e.g. agreementID, paymentID or paymentMethodID
                      required:
                      - disclosureID
                      - disclosureName
                      - documentURL
                      - agreementID
                      - buyerID
                      - acknowledgedAt
                      - createdAt
                      - targetID
                      example:
                        disclosureID: 059d039e-9ae1-4387-9af7-c3543990b5a6
                        disclosureName: tila
                        documentURL: /api/disclosure/document/tila/payment-agreement/75e5d039-ea4b-4d29-bdd0-818aeb2697ae
                        agreementID: 75e5d039-ea4b-4d29-bdd0-818aeb2697ae
                        buyerID: dc0dc633-1760-4d43-ba1d-da94ed701f06
                        acknowledgedAt: '2020-12-31T15:10:59Z'
                        createdAt: '2020-12-31T15:10:56Z'
                        targetID: 919b4e1d-d205-4752-9590-129918f357b1
                  pagination:
                    description: Result pagination values
                    type: object
                    properties:
                      limit:
                        type: integer
                        format: int64
                        minimum: 0
                        description: The maximum number of records that will be returned.
                        example: 100
                      offset:
                        type: integer
                        format: int64
                        minimum: 0
                        description: The number of records skipped.
                        example: 0
                      total:
                        type: integer
                        format: int64
                        minimum: 0
                        description: The total available records.
                        example: 200
        '400':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
        '500':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                - type: object
                  description: Disclosure service error response
                  properties:
                    reason:
                      type: string
                      description: Disclosure error reason codes
                      enum:
                      - RESOURCE_NOT_FOUND
                      - RETRIEVAL_ERROR
                      - WRITE_ERROR
                      - SERVICE_ERROR
                      - VALIDATION_FAILURE
                      - INVARIANT_VIOLATED
                      - SYSTEM_ERROR
                      - POLICY_ERROR
                      - BAD_AUTHENTICATION
                      - NOT_AUTHORIZED
                      - INVALID
                      - UNKNOWN
                      example: RESOURCE_NOT_FOUND
                  required:
                  - code
                  - domain
                  - message
                  - reason
                example:
                  code: 404
                  domain: disclosures
                  message: retrieving disclosure record
                  reason: RESOURCE_NOT_FOUND
components:
  securitySchemes:
    bearerAuthServicing:
      type: http
      scheme: bearer
      bearerFormat: JWT
    bearerAuthDisclosure:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token provided by the Auth service
