openapi: 3.2.0
info:
  title: Merchant Operations Transaction API
  description: Merchants Operations enables merchants to manage their transactions including authorizing purchases, settling them as well as additional actions like refund and cancellations.
  version: 2.0.0
  contact:
    email: partnership-growth@getbread.com
servers:
- url: https://api-preview.platform.breadpayments.com/
  description: Preview environment
- url: https://api.platform.breadpayments.com/
  description: Production environment
tags:
- name: Transaction
paths:
  /api/transaction/application/{applicationID}:
    get:
      tags:
      - Transaction
      summary: Get Transaction by Application ID
      description: Get a single transaction based on a provided application ID.
      operationId: getTransactionByApplicationID
      security:
      - bearerAuthTransaction:
        - r:tx
      parameters:
      - name: applicationID
        in: path
        description: The Application ID used to create the transaction
        required: true
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      responses:
        '200':
          description: Data for a single transaction.
          content:
            application/json:
              schema:
                description: Transaction is a representation of a single transaction
                required:
                - adjustedAmount
                - applicationID
                - billingContact
                - buyerID
                - createdAt
                - discountAmount
                - expirationExtended
                - externalID
                - id
                - merchantID
                - metadata
                - paymentAgreementID
                - paymentProductID
                - merchantPaymentProductValuesID
                - productType
                - programID
                - merchantProgramValuesID
                - refundedAmount
                - chargedbackAmount
                - cancelledAmount
                - settledAmount
                - overflowAmount
                - shippingAmount
                - shippingContact
                - status
                - taxAmount
                - tenantID
                - isCarts
                - totalAmount
                - revision
                - updatedAt
                properties:
                  adjustedAmount:
                    description: The transaction amount after adjustments.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  applicationID:
                    description: The application ID used to make the transaction
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  billingContact:
                    description: The contact information of the person being billed.
                    allOf:
                    - type: object
                      required:
                      - name
                      properties:
                        name:
                          required:
                          - familyName
                          - givenName
                          type: object
                          properties:
                            givenName:
                              type: string
                              description: Given name
                              example: John
                            familyName:
                              type: string
                              description: Family name
                              example: Doe
                            additionalName:
                              type: string
                              description: Additional name, if any
                          description: Represents the full name
                        phone:
                          type: string
                          description: Telephone number including country code
                          example: '+14539842345'
                        address:
                          required:
                          - address1
                          - locality
                          - postalCode
                          - region
                          - country
                          type: object
                          properties:
                            address1:
                              type: string
                              description: First address line
                              example: 156 5th Avenue
                            address2:
                              type: string
                              description: Second address line
                            locality:
                              type: string
                              description: The locality (e.g. City) of the address.
                              example: New York
                            postalCode:
                              type: string
                              description: The administrative postal code (e.g. Zip Code)
                              example: '10019'
                            region:
                              type: string
                              description: The region or first-level administration division (e.g. State/Province) of the address.
                              example: US-NY
                              minLength: 2
                              externalDocs:
                                description: ISO-3166-2
                                url: https://en.wikipedia.org/wiki/ISO_3166-2
                            country:
                              type: string
                              description: The two character ISO-3166-1 country code.
                              example: US
                              minLength: 2
                              maxLength: 2
                              externalDocs:
                                description: ISO-3166-1
                                url: https://en.wikipedia.org/wiki/ISO_3166-1
                          description: Represents a fully defined address for an entity
                        email:
                          type: string
                          format: email
                          description: Email address
                          example: john.doe@gmail.com
                      description: Represents contact information for an entity
                  buyerID:
                    description: The ID of the buyer for the transaction.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  createdAt:
                    description: The date and time the transaction was created.
                    allOf:
                    - type: string
                      format: date-time
                      description: The timestamp value formatted per RFC3339. This does not allow nulls.
                      example: '2020-12-31T15:10:55Z'
                      externalDocs:
                        description: RFC3339
                        url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  discountAmount:
                    description: The amount by which the transaction was discounted.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  expirationExtended:
                    type: boolean
                    description: Whether the expiration has been extended for this transaction
                  expiresAt:
                    type: string
                    format: date-time
                    description: The timestamp value formatted per RFC3339. This does not allow nulls.
                    example: '2020-12-31T15:10:55Z'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                  externalID:
                    type: string
                    description: An identifier that has significance to the Merchant allowing the transaction to be associated with the Merchant’s systems.
                    example: 55ed9cfd-f01e-487d-8d1a-6d0608189796
                  id:
                    description: The ID of the transaction
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  locationID:
                    description: The location the transaction was fulfilled at.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  merchantID:
                    description: The ID of the merchant that sells the transacted item.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: 'Metadata is a JSON field available to merchants for storing external data on a Transaction

                      Metadata keys have a max size of 128, and there can be up to 50 keys total. The max value size for a key is 5000.'
                    example:
                      externalMerchantData: externalInfo
                  paymentAgreementID:
                    description: The ID of the payment agreement.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  paymentProductID:
                    description: The ID of the specific loan product used to make this transaction.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  merchantPaymentProductValuesID:
                    description: The ID of the merchant payment product values that should be used with this transaction.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  productType:
                    description: The kind of the type of loan / payment product used to make this transaction.
                    allOf:
                    - type: string
                      description: The type of payment product
                      enum:
                      - INSTALLMENTS
                      - SPLITPAY
                      - DEBT_CONSOLIDATION
                      - PERSONAL_LOAN
                      - HYBRID_LINE_OF_CREDIT
                      example: INSTALLMENTS
                  programID:
                    description: The ID of the program the payment product is under.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  merchantProgramValuesID:
                    description: The ID of the merchant program values that should be used with this transaction.
                    allOf:
                    - type: string
                      format: uuid
                      description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                      example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                      externalDocs:
                        description: RFC4122
                        url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  refundedAmount:
                    description: The amount that has been refunded for this transaction.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  chargedbackAmount:
                    description: The amount that has been chargedback for this transaction.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  cancelledAmount:
                    description: The amount that has been cancelled for this transaction.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  settledAmount:
                    description: The amount that's been settled between the buyer and merchant for this transaction.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  overflowAmount:
                    description: The amount that has been paid on creation of the transaction (i.e., a downpayment).
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  shippingAmount:
                    description: The cost of shipping the transacted item.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  shippingContact:
                    description: The contact information of the place receiving the transacted item.
                    allOf:
                    - type: object
                      required:
                      - name
                      properties:
                        name:
                          required:
                          - familyName
                          - givenName
                          type: object
                          properties:
                            givenName:
                              type: string
                              description: Given name
                              example: John
                            familyName:
                              type: string
                              description: Family name
                              example: Doe
                            additionalName:
                              type: string
                              description: Additional name, if any
                          description: Represents the full name
                        phone:
                          type: string
                          description: Telephone number including country code
                          example: '+14539842345'
                        address:
                          required:
                          - address1
                          - locality
                          - postalCode
                          - region
                          - country
                          type: object
                          properties:
                            address1:
                              type: string
                              description: First address line
                              example: 156 5th Avenue
                            address2:
                              type: string
                              description: Second address line
                            locality:
                              type: string
                              description: The locality (e.g. City) of the address.
                              example: New York
                            postalCode:
                              type: string
                              description: The administrative postal code (e.g. Zip Code)
                              example: '10019'
                            region:
                              type: string
                              description: The region or first-level administration division (e.g. State/Province) of the address.
                              example: US-NY
                              minLength: 2
                              externalDocs:
                                description: ISO-3166-2
                                url: https://en.wikipedia.org/wiki/ISO_3166-2
                            country:
                              type: string
                              description: The two character ISO-3166-1 country code.
                              example: US
                              minLength: 2
                              maxLength: 2
                              externalDocs:
                                description: ISO-3166-1
                                url: https://en.wikipedia.org/wiki/ISO_3166-1
                          description: Represents a fully defined address for an entity
                        email:
                          type: string
                          format: email
                          description: Email address
                          example: john.doe@gmail.com
                      description: Represents contact information for an entity
                  status:
                    description: The possible statuses of a Transaction
                    type: string
                    enum:
                    - AUTHORIZED
                    - CANCELLED
                    - EXPIRED
                    - PARTIALLY_AUTHORIZED
                    - PARTIALLY_REFUNDED
                    - PARTIALLY_SETTLED
                    - PENDING
                    - REFUNDED
                    - SETTLED
                    - CHARGEDBACK
                    - PARTIALLY_CHARGEDBACK
                  taxAmount:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        type: string
                        description: The three letter currency code as defined in ISO 4217.
                        example: USD
                        minLength: 3
                        maxLength: 3
                        externalDocs:
                          description: ISO 4217
                          url: https://en.wikipedia.org/wiki/ISO_4217
                      value:
                        type: integer
                        description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                        format: int64
                        example: 100
                    description: Represents a monetary amount in the specified currency
                    example:
                      currency: USD
                      value: 50000
                  tenantID:
                    type: string
                    format: uuid
                    description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                    example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                    externalDocs:
                      description: RFC4122
                      url: https://datatracker.ietf.org/doc/html/rfc4122.html
                  isCarts:
                    description: Whether the transacted item is associated with a cart id.
                    type: boolean
                  totalAmount:
                    description: The amount that the transaction was created with.
                    allOf:
                    - required:
                      - currency
                      - value
                      properties:
                        currency:
                          type: string
                          description: The three letter currency code as defined in ISO 4217.
                          example: USD
                          minLength: 3
                          maxLength: 3
                          externalDocs:
                            description: ISO 4217
                            url: https://en.wikipedia.org/wiki/ISO_4217
                        value:
                          type: integer
                          description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                          format: int64
                          example: 100
                      description: Represents a monetary amount in the specified currency
                      example:
                        currency: USD
                        value: 50000
                  revision:
                    type: integer
                    description: The revision of the transaction. Incremented whenever there is a change to the transaction.
                    example: 1
                  updatedAt:
                    type: string
                    format: date-time
                    description: The timestamp value formatted per RFC3339. This does not allow nulls.
                    example: '2020-12-31T15:10:55Z'
                    externalDocs:
                      description: RFC3339
                      url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                example:
                  adjustedAmount:
                    currency: USD
                    value: 234399
                  applicationID: 4632f059-9c79-467d-bb09-b844d4d3a3f1
                  billingContact:
                    name:
                      familyName: Doe
                      givenName: John
                  buyerID: dc9e066a-141d-4dc7-872b-8882edae8b38
                  createdAt: '2020-12-31T15:10:55Z'
                  discountAmount:
                    currency: USD
                    value: 34399
                  expiresAt: '2021-12-31T15:10:55Z'
                  externalID: 3140be70-245b-47fc-a9ac-14a347acf450
                  locationID: 8030ae90-045b-07fc-09ac-13c348abf477
                  id: 01cc0231-e9a9-4d4c-bf0b-878fbf9eca64
                  merchantID: 7ae4ffb3-482b-4482-b794-d10c4e1bfe5d
                  metadata:
                    externalMerchantData: externalInfo
                  paymentAgreementID: 6da770ce-2751-450f-ae13-afe28ecb0ec1
                  paymentProductID: 9691676b-385e-41f0-b472-ec289d43b346
                  merchantPaymentProductValuesID: f9aefd19-8a42-4623-8902-9ab1ad4dee7c
                  productType: INSTALLMENTS
                  programID: 0582f43e-fbcb-4568-a938-a0c0a73b19a5
                  merchantProgramValuesID: 9691676b-385e-41f0-b472-ec289d43b346
                  refundedAmount:
                    currency: USD
                    value: 8999
                  chargedbackAmount:
                    currency: USD
                    value: 8999
                  cancelledAmount:
                    currency: USD
                    value: 8999
                  settledAmount:
                    currency: USD
                    value: 8999
                  shippingAmount:
                    currency: USD
                    value: 2500
                  shippingContact:
                    name:
                      familyName: Doe
                      givenName: John
                  status: AUTHORIZED
                  taxAmount:
                    currency: USD
                    value: 1300
                  tenantID: 5851fcf1-86a2-4b7b-b1f3-ded19c551a5b
                  totalAmount:
                    currency: USD
                    value: 334399
                  overflowAmount:
                    currency: USD
                    value: 13000
                  isCarts: false
                  revision: 1
                  updatedAt: '2021-01-31T14:10:55Z'
                  expirationExtended: false
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 404
                message: The transaction was not found
                reason: Transaction_Not_Found
                domain: Transaction
        '500':
          description: The requested resource conflicts with an existing resource.
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 500
                message: An internal error occurred
                reason: Internal_Error
                domain: Transaction
        '503':
          description: The service is unavailable.
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 503
                message: Service unavailable
                reason: Service_Unavailable
                domain: Transaction
  /api/transaction:
    get:
      tags:
      - Transaction
      summary: List Transactions
      description: List transactions in a paginated format based on provided filters
      operationId: listTransactions
      security:
      - bearerAuthTransaction:
        - r:tx
      parameters:
      - name: merchantID.eq
        in: query
        description: The unique identifier of the merchant.
        schema:
          type: string
          format: uuid
          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
          externalDocs:
            description: RFC4122
            url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: programID.eq
        in: query
        description: The unique identifier(s) of the program(s).
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: groupID.eq
        in: query
        description: The unique identifier(s) of the group(s) which is used to fetch transactions made from the locations belonging to these groups.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: locationID.eq
        in: query
        description: The unique identifier(s) of the location(s) which is used to fetch transactions made from these locations.
        style: form
        explode: true
        schema:
          type: array
          minItems: 0
          maxItems: 1
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - name: createdAt.lt
        in: query
        description: The date and time before which all returned transactions have been created.
        schema:
          type: string
          format: date-time
          description: The timestamp value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31T15:10:55Z'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: createdAt.gte
        in: query
        description: The date and time after and including which all returned transactions have been created.
        schema:
          type: string
          format: date-time
          description: The timestamp value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31T15:10:55Z'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: expiresAt.lt
        in: query
        description: The date and time before which all returned transactions will expire.
        schema:
          type: string
          format: date-time
          description: The timestamp value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31T15:10:55Z'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: expiresAt.gte
        in: query
        description: The date and time after and including which all returned transactions will expire.
        schema:
          type: string
          format: date-time
          description: The timestamp value formatted per RFC3339. This does not allow nulls.
          example: '2020-12-31T15:10:55Z'
          externalDocs:
            description: RFC3339
            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
      - name: status.eq
        in: query
        description: Equal to the given transaction status(es).
        explode: true
        schema:
          type: array
          minItems: 0
          items:
            description: The possible statuses of a Transaction
            type: string
            enum:
            - AUTHORIZED
            - CANCELLED
            - EXPIRED
            - PARTIALLY_AUTHORIZED
            - PARTIALLY_REFUNDED
            - PARTIALLY_SETTLED
            - PENDING
            - REFUNDED
            - SETTLED
            - CHARGEDBACK
            - PARTIALLY_CHARGEDBACK
      - name: paymentProductID.eq
        in: query
        description: Equal to the given payment product ID(s).
        explode: true
        schema:
          type: array
          minItems: 0
          items:
            type: string
            format: uuid
            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
            externalDocs:
              description: RFC4122
              url: https://datatracker.ietf.org/doc/html/rfc4122.html
      - in: query
        name: limit
        description: The maximum number of records that will be returned in a result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 10
        example: 50
      - in: query
        name: offset
        description: The number of records to skip before starting to collect the result set. Used in conjunction with limit query parameter for pagination support
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 20
      - name: sort
        in: query
        description: The sort key.
        schema:
          description: The possible sort keys for listing Transactions
          type: string
          enum:
          - createdAt.asc
          - createdAt.desc
          - billingContact.asc
          - billingContact.desc
          - status.asc
          - status.desc
          - expiresAt.asc
          - expiresAt.desc
      - name: carts.eq
        in: query
        description: Whether or not to include carts in the transactions returned
        schema:
          type: boolean
      - name: includeAllDescendantMerchants
        in: query
        description: Whether or not to include descendant merchants
        schema:
          type: boolean
      responses:
        '200':
          description: Paginated list of transactions from ListTransactions
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - pagination
                properties:
                  items:
                    type: array
                    items:
                      description: Transaction is a representation of a single transaction
                      required:
                      - adjustedAmount
                      - applicationID
                      - billingContact
                      - buyerID
                      - createdAt
                      - discountAmount
                      - expirationExtended
                      - externalID
                      - id
                      - merchantID
                      - metadata
                      - paymentAgreementID
                      - paymentProductID
                      - merchantPaymentProductValuesID
                      - productType
                      - programID
                      - merchantProgramValuesID
                      - refundedAmount
                      - chargedbackAmount
                      - cancelledAmount
                      - settledAmount
                      - overflowAmount
                      - shippingAmount
                      - shippingContact
                      - status
                      - taxAmount
                      - tenantID
                      - isCarts
                      - totalAmount
                      - revision
                      - updatedAt
                      properties:
                        adjustedAmount:
                          description: The transaction amount after adjustments.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        applicationID:
                          description: The application ID used to make the transaction
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        billingContact:
                          description: The contact information of the person being billed.
                          allOf:
                          - type: object
                            required:
                            - name
                            properties:
                              name:
                                required:
                                - familyName
                                - givenName
                                type: object
                                properties:
                                  givenName:
                                    type: string
                                    description: Given name
                                    example: John
                                  familyName:
                                    type: string
                                    description: Family name
                                    example: Doe
                                  additionalName:
                                    type: string
                                    description: Additional name, if any
                                description: Represents the full name
                              phone:
                                type: string
                                description: Telephone number including country code
                                example: '+14539842345'
                              address:
                                required:
                                - address1
                                - locality
                                - postalCode
                                - region
                                - country
                                type: object
                                properties:
                                  address1:
                                    type: string
                                    description: First address line
                                    example: 156 5th Avenue
                                  address2:
                                    type: string
                                    description: Second address line
                                  locality:
                                    type: string
                                    description: The locality (e.g. City) of the address.
                                    example: New York
                                  postalCode:
                                    type: string
                                    description: The administrative postal code (e.g. Zip Code)
                                    example: '10019'
                                  region:
                                    type: string
                                    description: The region or first-level administration division (e.g. State/Province) of the address.
                                    example: US-NY
                                    minLength: 2
                                    externalDocs:
                                      description: ISO-3166-2
                                      url: https://en.wikipedia.org/wiki/ISO_3166-2
                                  country:
                                    type: string
                                    description: The two character ISO-3166-1 country code.
                                    example: US
                                    minLength: 2
                                    maxLength: 2
                                    externalDocs:
                                      description: ISO-3166-1
                                      url: https://en.wikipedia.org/wiki/ISO_3166-1
                                description: Represents a fully defined address for an entity
                              email:
                                type: string
                                format: email
                                description: Email address
                                example: john.doe@gmail.com
                            description: Represents contact information for an entity
                        buyerID:
                          description: The ID of the buyer for the transaction.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        createdAt:
                          description: The date and time the transaction was created.
                          allOf:
                          - type: string
                            format: date-time
                            description: The timestamp value formatted per RFC3339. This does not allow nulls.
                            example: '2020-12-31T15:10:55Z'
                            externalDocs:
                              description: RFC3339
                              url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        discountAmount:
                          description: The amount by which the transaction was discounted.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        expirationExtended:
                          type: boolean
                          description: Whether the expiration has been extended for this transaction
                        expiresAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                        externalID:
                          type: string
                          description: An identifier that has significance to the Merchant allowing the transaction to be associated with the Merchant’s systems.
                          example: 55ed9cfd-f01e-487d-8d1a-6d0608189796
                        id:
                          description: The ID of the transaction
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        locationID:
                          description: The location the transaction was fulfilled at.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        merchantID:
                          description: The ID of the merchant that sells the transacted item.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        metadata:
                          type: object
                          additionalProperties:
                            type: string
                          description: 'Metadata is a JSON field available to merchants for storing external data on a Transaction

                            Metadata keys have a max size of 128, and there can be up to 50 keys total. The max value size for a key is 5000.'
                          example:
                            externalMerchantData: externalInfo
                        paymentAgreementID:
                          description: The ID of the payment agreement.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        paymentProductID:
                          description: The ID of the specific loan product used to make this transaction.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        merchantPaymentProductValuesID:
                          description: The ID of the merchant payment product values that should be used with this transaction.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        productType:
                          description: The kind of the type of loan / payment product used to make this transaction.
                          allOf:
                          - type: string
                            description: The type of payment product
                            enum:
                            - INSTALLMENTS
                            - SPLITPAY
                            - DEBT_CONSOLIDATION
                            - PERSONAL_LOAN
                            - HYBRID_LINE_OF_CREDIT
                            example: INSTALLMENTS
                        programID:
                          description: The ID of the program the payment product is under.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        merchantProgramValuesID:
                          description: The ID of the merchant program values that should be used with this transaction.
                          allOf:
                          - type: string
                            format: uuid
                            description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                            example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                            externalDocs:
                              description: RFC4122
                              url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        refundedAmount:
                          description: The amount that has been refunded for this transaction.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        chargedbackAmount:
                          description: The amount that has been chargedback for this transaction.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        cancelledAmount:
                          description: The amount that has been cancelled for this transaction.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        settledAmount:
                          description: The amount that's been settled between the buyer and merchant for this transaction.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        overflowAmount:
                          description: The amount that has been paid on creation of the transaction (i.e., a downpayment).
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        shippingAmount:
                          description: The cost of shipping the transacted item.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        shippingContact:
                          description: The contact information of the place receiving the transacted item.
                          allOf:
                          - type: object
                            required:
                            - name
                            properties:
                              name:
                                required:
                                - familyName
                                - givenName
                                type: object
                                properties:
                                  givenName:
                                    type: string
                                    description: Given name
                                    example: John
                                  familyName:
                                    type: string
                                    description: Family name
                                    example: Doe
                                  additionalName:
                                    type: string
                                    description: Additional name, if any
                                description: Represents the full name
                              phone:
                                type: string
                                description: Telephone number including country code
                                example: '+14539842345'
                              address:
                                required:
                                - address1
                                - locality
                                - postalCode
                                - region
                                - country
                                type: object
                                properties:
                                  address1:
                                    type: string
                                    description: First address line
                                    example: 156 5th Avenue
                                  address2:
                                    type: string
                                    description: Second address line
                                  locality:
                                    type: string
                                    description: The locality (e.g. City) of the address.
                                    example: New York
                                  postalCode:
                                    type: string
                                    description: The administrative postal code (e.g. Zip Code)
                                    example: '10019'
                                  region:
                                    type: string
                                    description: The region or first-level administration division (e.g. State/Province) of the address.
                                    example: US-NY
                                    minLength: 2
                                    externalDocs:
                                      description: ISO-3166-2
                                      url: https://en.wikipedia.org/wiki/ISO_3166-2
                                  country:
                                    type: string
                                    description: The two character ISO-3166-1 country code.
                                    example: US
                                    minLength: 2
                                    maxLength: 2
                                    externalDocs:
                                      description: ISO-3166-1
                                      url: https://en.wikipedia.org/wiki/ISO_3166-1
                                description: Represents a fully defined address for an entity
                              email:
                                type: string
                                format: email
                                description: Email address
                                example: john.doe@gmail.com
                            description: Represents contact information for an entity
                        status:
                          description: The possible statuses of a Transaction
                          type: string
                          enum:
                          - AUTHORIZED
                          - CANCELLED
                          - EXPIRED
                          - PARTIALLY_AUTHORIZED
                          - PARTIALLY_REFUNDED
                          - PARTIALLY_SETTLED
                          - PENDING
                          - REFUNDED
                          - SETTLED
                          - CHARGEDBACK
                          - PARTIALLY_CHARGEDBACK
                        taxAmount:
                          required:
                          - currency
                          - value
                          properties:
                            currency:
                              type: string
                              description: The three letter currency code as defined in ISO 4217.
                              example: USD
                              minLength: 3
                              maxLength: 3
                              externalDocs:
                                description: ISO 4217
                                url: https://en.wikipedia.org/wiki/ISO_4217
                            value:
                              type: integer
                              description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                              format: int64
                              example: 100
                          description: Represents a monetary amount in the specified currency
                          example:
                            currency: USD
                            value: 50000
                        tenantID:
                          type: string
                          format: uuid
                          description: A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.
                          example: dc0dc633-1760-4d43-ba1d-da94ed701f06
                          externalDocs:
                            description: RFC4122
                            url: https://datatracker.ietf.org/doc/html/rfc4122.html
                        isCarts:
                          description: Whether the transacted item is associated with a cart id.
                          type: boolean
                        totalAmount:
                          description: The amount that the transaction was created with.
                          allOf:
                          - required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                                description: The three letter currency code as defined in ISO 4217.
                                example: USD
                                minLength: 3
                                maxLength: 3
                                externalDocs:
                                  description: ISO 4217
                                  url: https://en.wikipedia.org/wiki/ISO_4217
                              value:
                                type: integer
                                description: 'Monetary value as an integral number of the currency fractional unit e.g for USD: cents'
                                format: int64
                                example: 100
                            description: Represents a monetary amount in the specified currency
                            example:
                              currency: USD
                              value: 50000
                        revision:
                          type: integer
                          description: The revision of the transaction. Incremented whenever there is a change to the transaction.
                          example: 1
                        updatedAt:
                          type: string
                          format: date-time
                          description: The timestamp value formatted per RFC3339. This does not allow nulls.
                          example: '2020-12-31T15:10:55Z'
                          externalDocs:
                            description: RFC3339
                            url: https://datatracker.ietf.org/doc/html/rfc3339#section-5.6
                      example:
                        adjustedAmount:
                          currency: USD
                          value: 234399
                        applicationID: 4632f059-9c79-467d-bb09-b844d4d3a3f1
                        billingContact:
                          name:
                            familyName: Doe
                            givenName: John
                        buyerID: dc9e066a-141d-4dc7-872b-8882edae8b38
                        createdAt: '2020-12-31T15:10:55Z'
                        discountAmount:
                          currency: USD
                          value: 34399
                        expiresAt: '2021-12-31T15:10:55Z'
                        externalID: 3140be70-245b-47fc-a9ac-14a347acf450
                        locationID: 8030ae90-045b-07fc-09ac-13c348abf477
                        id: 01cc0231-e9a9-4d4c-bf0b-878fbf9eca64
                        merchantID: 7ae4ffb3-482b-4482-b794-d10c4e1bfe5d
                        metadata:
                          externalMerchantData: externalInfo
                        paymentAgreementID: 6da770ce-2751-450f-ae13-afe28ecb0ec1
                        paymentProductID: 9691676b-385e-41f0-b472-ec289d43b346
                        merchantPaymentProductValuesID: f9aefd19-8a42-4623-8902-9ab1ad4dee7c
                        productType: INSTALLMENTS
                        programID: 0582f43e-fbcb-4568-a938-a0c0a73b19a5
                        merchantProgramValuesID: 9691676b-385e-41f0-b472-ec289d43b346
                        refundedAmount:
                          currency: USD
                          value: 8999
                        chargedbackAmount:
                          currency: USD
                          value: 8999
                        cancelledAmount:
                          currency: USD
                          value: 8999
                        settledAmount:
                          currency: USD
                          value: 8999
                        shippingAmount:
                          currency: USD
                          value: 2500
                        shippingContact:
                          name:
                            familyName: Doe
                            givenName: John
                        status: AUTHORIZED
                        taxAmount:
                          currency: USD
                          value: 1300
                        tenantID: 5851fcf1-86a2-4b7b-b1f3-ded19c551a5b
                        totalAmount:
                          currency: USD
                          value: 334399
                        overflowAmount:
                          currency: USD
                          value: 13000
                        isCarts: false
                        revision: 1
                        updatedAt: '2021-01-31T14:10:55Z'
                        expirationExtended: false
                  pagination:
                    description: Result pagination values
                    type: object
                    required:
                    - limit
                    - offset
                    - total
                    properties:
                      limit:
                        type: integer
                        description: The maximum number of records that will be returned.
                        example: 10
                      offset:
                        type: integer
                        description: The number of records skipped.
                        example: 0
                      total:
                        type: integer
                        description: The total available records.
                        example: 200
        '401':
          description: Unauthorized. Indicates that provided credentials is not valid
          content:
            text/plain:
              schema:
                type: string
                example: Jwt is expired
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 401
                domain: Auth
                message: Invalid authentication
                reason: Invalid_Authentication
        '403':
          description: Forbidden. Indicates that request cannot be authorized
          content:
            text/plain:
              schema:
                type: string
                example: 'RBAC: Access Denied'
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 403
                domain: Auth
                message: 'RBAC: Access Denied'
                reason: Access_Denied
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 404
                message: The transaction was not found
                reason: Transaction_Not_Found
                domain: Transaction
        '500':
          description: The requested resource conflicts with an existing resource.
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
                    description: A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain
                    example: Reason_Code
              example:
                code: 500
                message: An internal error occurred
                reason: Internal_Error
                domain: Transaction
        '503':
          description: The service is unavailable.
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - code
                  - domain
                  - message
                  type: object
                  properties:
                    code:
                      type: integer
                      description: The underlying http status code
                      format: int32
                      example: 500
                    message:
                      type: string
                      description: A simple message in english describing the error and can be returned to the consumer
                      example: Age cannot be less than 18
                    domain:
                      type: string
                      description: The domain where the error is originating from as defined by the service
                      example: Payments
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs
                      example:
                        propertyName: propertyName is required
                required:
                - code
                - domain
                - message
                - reason
                type: object
                properties:
                  reason:
                    type: string
[...]
