{
  "openapi": "3.0.3",
  "info": {
    "title": "Program",
    "description": "Management of public programs, payment products and policies that determines the system behavior and execution.",
    "version": "2.0.0",
    "contact": {
      "email": "partnership-growth@getbread.com"
    }
  },
  "servers": [
    {
      "url": "https://api-preview.platform.breadpayments.com/",
      "description": "Preview environment"
    },
    {
      "url": "https://api.platform.breadpayments.com/",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/api/program/public/payment-product-configuration": {
      "parameters": [
        {
          "name": "merchantID.eq",
          "in": "query",
          "description": "Merchant ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
            "externalDocs": {
              "description": "RFC4122",
              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
            }
          },
          "example": "a89d277c-3481-464c-898a-d7709a28c86a"
        },
        {
          "name": "programID.eq",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string",
            "format": "uuid",
            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
            "externalDocs": {
              "description": "RFC4122",
              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
            }
          },
          "example": "a89d277c-3481-464c-898a-d7709a28c86a"
        },
        {
          "description": "API version",
          "in": "header",
          "name": "X-API-VERSION",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "v2"
        },
        {
          "in": "query",
          "name": "offset",
          "description": "The number of records to skip before starting to collect the result set. Used in conjunction with limit query parameter for pagination support",
          "required": false,
          "schema": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "example": 20
        },
        {
          "in": "query",
          "name": "limit",
          "description": "The maximum number of records that will be returned in a result set.",
          "required": false,
          "schema": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 10
          },
          "example": 50
        }
      ],
      "get": {
        "operationId": "getPaymentProductEnrollmentByMerchantID",
        "summary": "Get payment product enrollments by merchant ID",
        "description": "Get payment product enrollments by merchant ID. This is a public endpoint that does not require authentication, but the results are filtered by programID if provided.",
        "tags": [
          "PaymentProductEnrollments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Public response model for a list of payment product enrollments, with potentially sensitive fields removed",
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 200,
                      "items": {
                        "description": "Public response model for a payment product enrollment, with potentially sensitive fields removed",
                        "type": "object",
                        "properties": {
                          "enrollmentID": {
                            "description": "Unique identifier for a payment product enrollment",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "paymentProductID": {
                            "description": "Unique identifier for the payment product",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "merchantID": {
                            "description": "Unique identifier for a merchant (from the enrollment)",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "programID": {
                            "description": "Unique identifier for a program",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "paymentProductName": {
                            "description": "Human-friendly name of the payment product",
                            "type": "string"
                          },
                          "paymentProductType": {
                            "description": "Type of the payment product",
                            "type": "string"
                          },
                          "paymentFrequency": {
                            "description": "Payment frequency for the product",
                            "type": "string"
                          },
                          "numPayments": {
                            "description": "Number of scheduled payments for the product",
                            "type": "integer",
                            "format": "int32"
                          },
                          "startAt": {
                            "description": "Time when the payment product enrollment becomes active",
                            "nullable": false,
                            "allOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                "example": "2020-12-31T15:10:55Z",
                                "externalDocs": {
                                  "description": "RFC3339",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                }
                              }
                            ]
                          },
                          "endAt": {
                            "description": "Time when the payment product enrollment becomes lapsed",
                            "nullable": true,
                            "allOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                "example": "2020-12-31T15:10:55Z",
                                "externalDocs": {
                                  "description": "RFC3339",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                }
                              }
                            ]
                          },
                          "defaultCartAmount": {
                            "description": "Default cart amount for participation",
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "minCartSize": {
                            "description": "Minimum cart size for this enrollment",
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "maxCartSize": {
                            "description": "Maximum cart size for this enrollment",
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "minInterestRateBPS": {
                            "description": "Minimum interest rate in basis points (from enrollment)",
                            "type": "integer",
                            "format": "int32"
                          },
                          "maxInterestRateBPS": {
                            "description": "Maximum interest rate in basis points (from enrollment)",
                            "type": "integer",
                            "format": "int32"
                          },
                          "enrollmentState": {
                            "description": "active or scheduled",
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "SCHEDULED"
                            ]
                          },
                          "enrollmentCreatedAt": {
                            "description": "Created at time",
                            "nullable": false,
                            "allOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                "example": "2020-12-31T15:10:55Z",
                                "externalDocs": {
                                  "description": "RFC3339",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "maximum": 200,
                          "minimum": 10
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "total": {
                          "type": "integer",
                          "maximum": 200,
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Default error model for program service errors",
                  "allOf": [
                    {
                      "required": [
                        "code",
                        "domain",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "The underlying http status code",
                          "format": "int32",
                          "example": 500
                        },
                        "message": {
                          "type": "string",
                          "description": "A simple message in english describing the error and can be returned to the consumer",
                          "example": "Age cannot be less than 18"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain where the error is originating from as defined by the service",
                          "example": "Payments"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                          "example": {
                            "propertyName": "propertyName is required"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "reason": {
                      "type": "string",
                      "description": "Program creation error reason codes",
                      "enum": [
                        "Unauthorized",
                        "Request_Validation",
                        "Internal_Server_Failure",
                        "Dependency_Unavailable"
                      ]
                    }
                  }
                },
                "example": {
                  "code": 400,
                  "message": "Invalid request",
                  "domain": "Program",
                  "metadata": {},
                  "reason": "Request_Validation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Indicates that provided credentials is not valid",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Jwt is expired"
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "code",
                        "domain",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "The underlying http status code",
                          "format": "int32",
                          "example": 500
                        },
                        "message": {
                          "type": "string",
                          "description": "A simple message in english describing the error and can be returned to the consumer",
                          "example": "Age cannot be less than 18"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain where the error is originating from as defined by the service",
                          "example": "Payments"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                          "example": {
                            "propertyName": "propertyName is required"
                          }
                        }
                      }
                    }
                  ],
                  "required": [
                    "code",
                    "domain",
                    "message",
                    "reason"
                  ],
                  "type": "object",
                  "properties": {
                    "reason": {
                      "type": "string",
                      "description": "A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain",
                      "example": "Reason_Code"
                    }
                  }
                },
                "example": {
                  "code": 401,
                  "domain": "Auth",
                  "message": "Invalid authentication",
                  "reason": "Invalid_Authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Indicates that request cannot be authorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "RBAC: Access Denied"
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "code",
                        "domain",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "The underlying http status code",
                          "format": "int32",
                          "example": 500
                        },
                        "message": {
                          "type": "string",
                          "description": "A simple message in english describing the error and can be returned to the consumer",
                          "example": "Age cannot be less than 18"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain where the error is originating from as defined by the service",
                          "example": "Payments"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                          "example": {
                            "propertyName": "propertyName is required"
                          }
                        }
                      }
                    }
                  ],
                  "required": [
                    "code",
                    "domain",
                    "message",
                    "reason"
                  ],
                  "type": "object",
                  "properties": {
                    "reason": {
                      "type": "string",
                      "description": "A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain",
                      "example": "Reason_Code"
                    }
                  }
                },
                "example": {
                  "code": 403,
                  "domain": "Auth",
                  "message": "RBAC: Access Denied",
                  "reason": "Access_Denied"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Default error model for program service errors",
                  "allOf": [
                    {
                      "required": [
                        "code",
                        "domain",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "The underlying http status code",
                          "format": "int32",
                          "example": 500
                        },
                        "message": {
                          "type": "string",
                          "description": "A simple message in english describing the error and can be returned to the consumer",
                          "example": "Age cannot be less than 18"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain where the error is originating from as defined by the service",
                          "example": "Payments"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                          "example": {
                            "propertyName": "propertyName is required"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "reason": {
                      "type": "string",
                      "description": "Program creation error reason codes",
                      "enum": [
                        "Unauthorized",
                        "Request_Validation",
                        "Internal_Server_Failure",
                        "Dependency_Unavailable"
                      ]
                    }
                  }
                },
                "example": {
                  "code": 409,
                  "message": "Conflict",
                  "domain": "Program",
                  "metadata": {},
                  "reason": "Conflict"
                }
              }
            }
          },
          "410": {
            "description": "Resource gone",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Default error model for program service errors",
                  "allOf": [
                    {
                      "required": [
                        "code",
                        "domain",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "The underlying http status code",
                          "format": "int32",
                          "example": 500
                        },
                        "message": {
                          "type": "string",
                          "description": "A simple message in english describing the error and can be returned to the consumer",
                          "example": "Age cannot be less than 18"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain where the error is originating from as defined by the service",
                          "example": "Payments"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                          "example": {
                            "propertyName": "propertyName is required"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "reason": {
                      "type": "string",
                      "description": "Program creation error reason codes",
                      "enum": [
                        "Unauthorized",
                        "Request_Validation",
                        "Internal_Server_Failure",
                        "Dependency_Unavailable"
                      ]
                    }
                  }
                },
                "example": {
                  "code": 410,
                  "message": "Resource unavailable",
                  "domain": "Program",
                  "metadata": {},
                  "reason": "Resource_Gone"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuthProgram": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "The JWT access token provided by the Auth service."
      }
    },
    "responses": {
      "401": {
        "description": "Unauthorized. Indicates that provided credentials is not valid",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Jwt is expired"
            }
          },
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "required": [
                "code",
                "domain",
                "message",
                "reason"
              ],
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain",
                  "example": "Reason_Code"
                }
              }
            },
            "example": {
              "code": 401,
              "domain": "Auth",
              "message": "Invalid authentication",
              "reason": "Invalid_Authentication"
            }
          }
        }
      },
      "403": {
        "description": "Forbidden. Indicates that request cannot be authorized",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "RBAC: Access Denied"
            }
          },
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "required": [
                "code",
                "domain",
                "message",
                "reason"
              ],
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain",
                  "example": "Reason_Code"
                }
              }
            },
            "example": {
              "code": 403,
              "domain": "Auth",
              "message": "RBAC: Access Denied",
              "reason": "Access_Denied"
            }
          }
        }
      },
      "410": {
        "description": "Record no longer available",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Gone"
            }
          },
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "required": [
                "code",
                "domain",
                "message",
                "reason"
              ],
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "A reason code specific to the service and can be used to identify the exact issue. Should be unique within a domain",
                  "example": "Reason_Code"
                }
              }
            },
            "example": {
              "code": 410,
              "domain": "Cart",
              "message": "Gone",
              "reason": "Gone"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Default error response for any errors in the API",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "currency",
                "value"
              ],
              "properties": {
                "currency": {
                  "type": "string",
                  "description": "The three letter currency code as defined in ISO 4217.",
                  "example": "USD",
                  "minLength": 3,
                  "maxLength": 3,
                  "externalDocs": {
                    "description": "ISO 4217",
                    "url": "https://en.wikipedia.org/wiki/ISO_4217"
                  }
                },
                "value": {
                  "type": "integer",
                  "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                  "format": "int64",
                  "example": 100
                }
              },
              "description": "Represents a monetary amount in the specified currency",
              "example": {
                "currency": "USD",
                "value": 50000
              }
            }
          }
        }
      },
      "MerchantPaymentProducts": {
        "description": "An array of payment products and associated merchant values for a merchant.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "merchantPaymentProducts": {
                  "type": "array",
                  "maxItems": 200,
                  "items": {
                    "description": "A merchant payment product contains the payment product values specific to the merchant.",
                    "type": "object",
                    "properties": {
                      "paymentProduct": {
                        "allOf": [
                          {
                            "description": "A payment product contains the details of a financing option under a program that a merchant has opted into.",
                            "type": "object",
                            "required": [
                              "id",
                              "programID",
                              "type",
                              "name",
                              "description",
                              "numPayments",
                              "paymentFrequency",
                              "minInterestRateBPS",
                              "maxInterestRateBPS",
                              "paymentMethodTypes",
                              "autopayRequired",
                              "requiredDownPaymentBPS",
                              "legalAgreements",
                              "policies",
                              "workflowIDs",
                              "createdAt"
                            ],
                            "properties": {
                              "id": {
                                "description": "Unique identifier for a payment product.",
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                    "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                    "externalDocs": {
                                      "description": "RFC4122",
                                      "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                    }
                                  }
                                ]
                              },
                              "programID": {
                                "description": "Unique identifier for a program.",
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                    "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                    "externalDocs": {
                                      "description": "RFC4122",
                                      "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                    }
                                  }
                                ]
                              },
                              "type": {
                                "nullable": false,
                                "allOf": [
                                  {
                                    "type": "string",
                                    "description": "The type of payment product",
                                    "enum": [
                                      "INSTALLMENTS",
                                      "SPLITPAY",
                                      "DEBT_CONSOLIDATION",
                                      "PERSONAL_LOAN",
                                      "HYBRID_LINE_OF_CREDIT",
                                      "DEFERRED_INTEREST_INSTALLMENTS"
                                    ],
                                    "example": "INSTALLMENTS"
                                  }
                                ]
                              },
                              "name": {
                                "description": "Name of payment product, human-readable",
                                "nullable": false,
                                "type": "string"
                              },
                              "description": {
                                "description": "Description of this payment product, human-readable",
                                "nullable": false,
                                "type": "string"
                              },
                              "numPayments": {
                                "description": "Number of expected payments",
                                "nullable": false,
                                "minimum": 1,
                                "type": "integer"
                              },
                              "paymentFrequency": {
                                "description": "Frequency of expected payments expressed according to ISO 8601",
                                "nullable": false,
                                "format": "duration",
                                "type": "string"
                              },
                              "minInterestRateBPS": {
                                "description": "Minimum interest rate associated with this product expressed in basis points. (e.g. 0.99% -> 99)",
                                "nullable": false,
                                "allOf": [
                                  {
                                    "type": "integer",
                                    "description": "A value which represents one-hundredth of one percent.",
                                    "minimum": 0,
                                    "example": 500,
                                    "externalDocs": {
                                      "description": "BasisPoint",
                                      "url": "https://www.investopedia.com/terms/b/basispoint.asp"
                                    }
                                  }
                                ]
                              },
                              "maxInterestRateBPS": {
                                "description": "Maximum interest rate associated with this product expressed in basis points. (e.g. 24.99% -> 2499)",
                                "nullable": false,
                                "allOf": [
                                  {
                                    "type": "integer",
                                    "description": "A value which represents one-hundredth of one percent.",
                                    "minimum": 0,
                                    "example": 500,
                                    "externalDocs": {
                                      "description": "BasisPoint",
                                      "url": "https://www.investopedia.com/terms/b/basispoint.asp"
                                    }
                                  }
                                ]
                              },
                              "paymentMethodTypes": {
                                "description": "Payment method types that this payment product will accept",
                                "nullable": false,
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "autopayRequired": {
                                "description": "Whether autopay is required for this payment product",
                                "nullable": false,
                                "type": "boolean"
                              },
                              "requiredDownPaymentBPS": {
                                "description": "The amount of down payment collected by this payment product expressed in basis points. (e.g. 50% -> 5000)",
                                "nullable": false,
                                "allOf": [
                                  {
                                    "type": "integer",
                                    "description": "A value which represents one-hundredth of one percent.",
                                    "minimum": 0,
                                    "example": 500,
                                    "externalDocs": {
                                      "description": "BasisPoint",
                                      "url": "https://www.investopedia.com/terms/b/basispoint.asp"
                                    }
                                  }
                                ]
                              },
                              "legalAgreements": {
                                "description": "Legal agreements associated with this payment product",
                                "nullable": false,
                                "format": "application/json",
                                "type": "object"
                              },
                              "policies": {
                                "description": "Policies associated with this payment product",
                                "nullable": false,
                                "format": "application/json",
                                "type": "object"
                              },
                              "workflowIDs": {
                                "description": "Workflows associated with this payment product",
                                "nullable": false,
                                "format": "application/json",
                                "type": "object"
                              },
                              "createdAt": {
                                "description": "Time when this payment product was created",
                                "nullable": false,
                                "readOnly": true,
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                    "example": "2020-12-31T15:10:55Z",
                                    "externalDocs": {
                                      "description": "RFC3339",
                                      "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                    }
                                  }
                                ]
                              },
                              "deletedAt": {
                                "description": "Time when this payment product was deleted",
                                "nullable": true,
                                "readOnly": true,
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                    "example": "2020-12-31T15:10:55Z",
                                    "externalDocs": {
                                      "description": "RFC3339",
                                      "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                    }
                                  }
                                ]
                              },
                              "version": {
                                "description": "Payment Product version 1 or 2. Code will default to 1.",
                                "default": 1,
                                "type": "number"
                              },
                              "deferredPromoPeriod": {
                                "description": "The deferred interest promotional period expressed according to ISO 8601. Must not exceed 50% of the loan term (numPayments * paymentFrequency). Only applicable when type is DEFERRED_INTEREST_INSTALLMENTS.",
                                "nullable": false,
                                "format": "duration",
                                "type": "string"
                              }
                            }
                          }
                        ]
                      },
                      "merchantValues": {
                        "description": "Merchant-payment product values contain values specific to a merchant-payment product relationship.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique identifier for a merchant payment product value.",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "merchantID": {
                            "description": "Unique identifier for a merchant.",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "paymentProductID": {
                            "description": "Unique identifier for a payment product.",
                            "allOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                                "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                                "externalDocs": {
                                  "description": "RFC4122",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                                }
                              }
                            ]
                          },
                          "discountRateBPS": {
                            "description": "The discount rate expressed in basis points. (e.g. 50% -> 5000)",
                            "nullable": false,
                            "allOf": [
                              {
                                "type": "integer",
                                "description": "A value which represents one-hundredth of one percent.",
                                "minimum": 0,
                                "example": 500,
                                "externalDocs": {
                                  "description": "BasisPoint",
                                  "url": "https://www.investopedia.com/terms/b/basispoint.asp"
                                }
                              }
                            ]
                          },
                          "transactionFee": {
                            "description": "The transaction fee.",
                            "nullable": false,
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "minCartSize": {
                            "description": "The minimum cart size.",
                            "nullable": false,
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "maxCartSize": {
                            "description": "The maximum cart size.",
                            "nullable": false,
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "pendingTxExpiration": {
                            "description": "The expiration time for pending transactions. (Must be in ISO8601 format)",
                            "format": "duration",
                            "nullable": false,
                            "type": "string"
                          },
                          "authorizedTxExpiration": {
                            "description": "The expiration time for authorized transactions. (Must be in ISO8601 format)",
                            "format": "duration",
                            "nullable": false,
                            "type": "string"
                          },
                          "allowPartialSettlement": {
                            "description": "Whether or partially settled transactions are allowed.",
                            "nullable": false,
                            "type": "boolean"
                          },
                          "partialSettlementTxExpiration": {
                            "description": "The expiration time for partially-settled transactions. (Must be in ISO8601 format)",
                            "format": "duration",
                            "nullable": false,
                            "type": "string"
                          },
                          "creditScoreThreshold": {
                            "description": "minimum credit score a customer needs to see the payment product",
                            "type": "number",
                            "nullable": true
                          },
                          "downPaymentTransactionFee": {
                            "description": "down payment transaction fee",
                            "nullable": false,
                            "allOf": [
                              {
                                "required": [
                                  "currency",
                                  "value"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "description": "The three letter currency code as defined in ISO 4217.",
                                    "example": "USD",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "externalDocs": {
                                      "description": "ISO 4217",
                                      "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                    }
                                  },
                                  "value": {
                                    "type": "integer",
                                    "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                    "format": "int64",
                                    "example": 100
                                  }
                                },
                                "description": "Represents a monetary amount in the specified currency",
                                "example": {
                                  "currency": "USD",
                                  "value": 50000
                                }
                              }
                            ]
                          },
                          "preauthAmount": {
                            "description": "The preauth amount",
                            "nullable": true,
                            "type": "integer"
                          },
                          "overflowDiscountRateBPS": {
                            "description": "overflow discount rate",
                            "allOf": [
                              {
                                "type": "integer",
                                "description": "A value which represents one-hundredth of one percent.",
                                "minimum": 0,
                                "example": 500,
                                "externalDocs": {
                                  "description": "BasisPoint",
                                  "url": "https://www.investopedia.com/terms/b/basispoint.asp"
                                }
                              }
                            ]
                          },
                          "policies": {
                            "description": "Policies associated with the merchant's payment product",
                            "nullable": false,
                            "format": "application/json",
                            "type": "object"
                          },
                          "createdAt": {
                            "description": "Time when the merchant's payment product was created",
                            "nullable": false,
                            "readOnly": true,
                            "allOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                "example": "2020-12-31T15:10:55Z",
                                "externalDocs": {
                                  "description": "RFC3339",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                }
                              }
                            ]
                          },
                          "deletedAt": {
                            "description": "Time when the merchant's payment product was deleted",
                            "nullable": true,
                            "readOnly": true,
                            "allOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                                "example": "2020-12-31T15:10:55Z",
                                "externalDocs": {
                                  "description": "RFC3339",
                                  "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "example": {
              "merchantPaymentProducts": [
                {
                  "paymentProduct": {
                    "id": "d60f3fa5-8ad6-4a22-ade9-e835e24b5d00",
                    "programID": "af0b5374-3464-487d-b8e0-73ff16252d93",
                    "type": "INSTALLMENTS",
                    "name": "12 Month - 0% APR",
                    "description": "12 Month - 0% APR",
                    "numPayments": 12,
                    "paymentFrequency": "P1M",
                    "minInterestRateBPS": 0,
                    "maxInterestRateBPS": 0,
                    "paymentMethodTypes": [
                      "ACH"
                    ],
                    "autopayRequired": false,
                    "requiredDownPaymentBPS": 0,
                    "legalAgreements": {},
                    "policies": {},
                    "workflowIDs": {},
                    "createdAt": "2022-01-24T13:53:40.364467Z",
                    "deletedAt": null,
                    "overflowEnabled": false,
                    "extendedAttributes": {},
                    "version": 1
                  },
                  "merchantValues": {
                    "id": "a1b66bff-29a4-4c6c-b338-2994c3805c57",
                    "creditScoreThreshold": 799,
                    "downPaymentTransactionFee": {
                      "currency": "USD",
                      "value": 100
                    },
                    "merchantID": "a523feec-c0e1-4f88-bdw3-c242a2d3e723",
                    "paymentProductID": "d60f3fa5-8ad6-4a22-ade9-e835e24b5d00",
                    "discountRateBPS": 600,
                    "transactionFee": {
                      "currency": "USD",
                      "value": 0
                    },
                    "minCartSize": {
                      "currency": "USD",
                      "value": 100000
                    },
                    "maxCartSize": {
                      "currency": "USD",
                      "value": 1500000
                    },
                    "pendingTxExpiration": "P7D",
                    "authorizedTxExpiration": "P90D",
                    "allowPartialSettlement": true,
                    "partialSettlementTxExpiration": "P14D",
                    "preauthAmount": 25,
                    "policies": {},
                    "createdAt": "2021-04-24T13:53:40.364467Z",
                    "deletedAt": null
                  }
                }
              ]
            }
          }
        }
      },
      "MerchantProgramValuesResponse": {
        "description": "Merchant-program values",
        "content": {
          "application/json": {
            "schema": {
              "description": "Array of merchant program values, along with pagination metadata",
              "type": "object",
              "properties": {
                "items": {
                  "description": "Array of MerchantProgramValues",
                  "type": "array",
                  "items": {
                    "description": "Merchant-program values contain information from a merchant that is tied to a program the merchant participates in.",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Unique identifier for a set of merchant-program values.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "merchantID": {
                        "description": "Unique identifier for a merchant.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "programID": {
                        "description": "Unique identifier for a program.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "defaultOTPMethod": {
                        "description": "Default One Time Password (OTP) delivery method.",
                        "enum": [
                          "EMAIL",
                          "SMS"
                        ],
                        "nullable": false,
                        "type": "string"
                      },
                      "applicationExpiration": {
                        "description": "application expiration",
                        "nullable": true,
                        "type": "string"
                      },
                      "defaultCartAmount": {
                        "description": "Default cart amount",
                        "nullable": false,
                        "allOf": [
                          {
                            "required": [
                              "currency",
                              "value"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "The three letter currency code as defined in ISO 4217.",
                                "example": "USD",
                                "minLength": 3,
                                "maxLength": 3,
                                "externalDocs": {
                                  "description": "ISO 4217",
                                  "url": "https://en.wikipedia.org/wiki/ISO_4217"
                                }
                              },
                              "value": {
                                "type": "integer",
                                "description": "Monetary value as an integral number of the currency fractional unit e.g for USD: cents",
                                "format": "int64",
                                "example": 100
                              }
                            },
                            "description": "Represents a monetary amount in the specified currency",
                            "example": {
                              "currency": "USD",
                              "value": 50000
                            }
                          }
                        ]
                      },
                      "policies": {
                        "description": "Policies associated with this merchant-program.",
                        "nullable": false,
                        "format": "application/json",
                        "type": "object"
                      },
                      "capabilities": {
                        "nullable": false,
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "downPayment": {
                                "type": "object",
                                "properties": {
                                  "installments": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "installments"
                                ]
                              }
                            }
                          }
                        ]
                      },
                      "virtualCard": {
                        "description": "Virtual Card JSON data",
                        "nullable": false,
                        "format": "application/json",
                        "type": "object"
                      },
                      "tofProcessors": {
                        "description": "Top of Funnel.",
                        "type": "string",
                        "nullable": false
                      },
                      "createdAt": {
                        "description": "Time these values were created",
                        "nullable": false,
                        "readOnly": true,
                        "allOf": [
                          {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                            "example": "2020-12-31T15:10:55Z",
                            "externalDocs": {
                              "description": "RFC3339",
                              "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                            }
                          }
                        ]
                      },
                      "deletedAt": {
                        "description": "Time these values were deleted",
                        "nullable": false,
                        "readOnly": true,
                        "allOf": [
                          {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                            "example": "2020-12-31T15:10:55Z",
                            "externalDocs": {
                              "description": "RFC3339",
                              "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "maximum": 200,
                      "minimum": 10
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "total": {
                      "type": "integer",
                      "maximum": 200,
                      "minimum": 0
                    }
                  }
                }
              }
            },
            "example": {
              "items": [
                {
                  "id": "c39459ed-1eb2-40f3-b43b-754c64fa5166",
                  "merchantID": "0306dbd5-1025-4d44-b739-1d87eefd9c7c",
                  "programID": "162d5a6f-851a-412a-9871-9f29a40408b4",
                  "defaultOTPMethod": "SMS",
                  "applicationExpiration": "P7D",
                  "defaultCartAmount": {
                    "value": 200,
                    "currency": "USD"
                  },
                  "policies": {
                    "virtualCardSettings": {
                      "enabled": false,
                      "provider": ""
                    }
                  },
                  "capabilities": [],
                  "virtualCard": {},
                  "tofProcessors": "KYC,FRAUD,SANCTIONS",
                  "createdAt": "2006-01-02T15:04:05Z",
                  "deletedAt": "2006-01-02T15:04:05Z"
                }
              ],
              "pagination": {
                "limit": 10,
                "offset": 1,
                "total": 10
              }
            }
          }
        }
      },
      "PartnerProgramValuesResponse": {
        "description": "Partner-program values",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "description": "Partner-program values contain information from a partner that is tied to a program the partner participates in.",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Unique identifier for a set of partner-program values.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "partnerID": {
                        "description": "Unique identifier for a partner.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "programID": {
                        "description": "Unique identifier for a program.",
                        "allOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "description": "A universally unique identifier (Version 4) as defined in RFC4122. This does not allow nulls.",
                            "example": "dc0dc633-1760-4d43-ba1d-da94ed701f06",
                            "externalDocs": {
                              "description": "RFC4122",
                              "url": "https://datatracker.ietf.org/doc/html/rfc4122.html"
                            }
                          }
                        ]
                      },
                      "createdAt": {
                        "description": "Time these values were created",
                        "nullable": false,
                        "readOnly": true,
                        "allOf": [
                          {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                            "example": "2020-12-31T15:10:55Z",
                            "externalDocs": {
                              "description": "RFC3339",
                              "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                            }
                          }
                        ]
                      },
                      "deletedAt": {
                        "description": "Time these values were deleted",
                        "nullable": false,
                        "readOnly": true,
                        "allOf": [
                          {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp value formatted per RFC3339. This does not allow nulls.",
                            "example": "2020-12-31T15:10:55Z",
                            "externalDocs": {
                              "description": "RFC3339",
                              "url": "https://datatracker.ietf.org/doc/html/rfc3339#section-5.6"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "maximum": 200,
                      "minimum": 10
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "total": {
                      "type": "integer",
                      "maximum": 200,
                      "minimum": 0
                    }
                  }
                }
              }
            },
            "example": {
              "items": [
                {
                  "id": "c39459ed-1eb2-40f3-b43b-754c64fa5166",
                  "merchantID": "0306dbd5-1025-4d44-b739-1d87eefd9c7c",
                  "programID": "162d5a6f-851a-412a-9871-9f29a40408b4",
                  "createdAt": "2006-01-02T15:04:05Z",
                  "deletedAt": "2006-01-02T15:04:05Z"
                }
              ],
              "pagination": {
                "limit": 10,
                "offset": 1,
                "total": 10
              }
            }
          }
        }
      },
      "NoContentResponse": {
        "x-internal": true,
        "description": "A response with empty body",
        "content": {}
      },
      "ProgramErrorResponse": {
        "description": "Error response for program",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Default error model for program service errors",
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Program creation error reason codes",
                  "enum": [
                    "Unauthorized",
                    "Request_Validation",
                    "Internal_Server_Failure",
                    "Dependency_Unavailable"
                  ]
                }
              }
            },
            "example": {
              "code": 400,
              "message": "Invalid request",
              "domain": "Program",
              "metadata": {},
              "reason": "Request_Validation"
            }
          }
        }
      },
      "ProgramErrorBadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Default error model for program service errors",
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Program creation error reason codes",
                  "enum": [
                    "Unauthorized",
                    "Request_Validation",
                    "Internal_Server_Failure",
                    "Dependency_Unavailable"
                  ]
                }
              }
            },
            "example": {
              "code": 400,
              "message": "Invalid request",
              "domain": "Program",
              "metadata": {},
              "reason": "Request_Validation"
            }
          }
        }
      },
      "ProgramErrorNotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Default error model for program service errors",
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Program creation error reason codes",
                  "enum": [
                    "Unauthorized",
                    "Request_Validation",
                    "Internal_Server_Failure",
                    "Dependency_Unavailable"
                  ]
                }
              }
            },
            "example": {
              "code": 404,
              "message": "Not found",
              "domain": "Program",
              "metadata": {},
              "reason": "Not_Found"
            }
          }
        }
      },
      "ProgramErrorConflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Default error model for program service errors",
              "allOf": [
                {
                  "required": [
                    "code",
                    "domain",
                    "message"
                  ],
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The underlying http status code",
                      "format": "int32",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "A simple message in english describing the error and can be returned to the consumer",
                      "example": "Age cannot be less than 18"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain where the error is originating from as defined by the service",
                      "example": "Payments"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Any additional details to be conveyed as determined by the service. If present, will return map of key value pairs",
                      "example": {
                        "propertyName": "propertyName is required"
                      }
                    }
                  }
                }
              ],
              "properties": {
[...]
